.removeBtn{
  position: absolute;
  top: 8px;
  background: #000;
  left: 8px;
  height: 22px;
  padding: 0px;
  z-index: 5;
  border-radius: 5px;
  ion-icon{
      font-size: 22px;
      --border-radius: 5px;
  }
}

.header {
  --background: #42d1f8;
}
.cart-table {
  border-bottom: 1px solid #aeb7ca;
}
.content {
  --background: #ffffff;
}
.product-img {
  width: 50px;
}
.yourShoppingCartDiv {
  color: #fd532d;
  padding: 30px;
}
.couponInput {
  border: none;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100%;
  margin-top: 10px;
  outline: none;
  box-shadow: none;
  transition: all 0.2s ease;
}
.couponInput:focus {
  border-bottom: 2px solid #42d1f8;
}
.homeBtn {
  text-align: center;
}
.homeBtn button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 10px;
  outline: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #42d1f8;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#42d1f8, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
.yourShoppingCartDiv ion-title {
  --color: black;
  padding: 10px;
}
.button {
  background: none;
  border: none;
  padding: 10px 15px;
}
ion-toolbar ion-title {
  padding: 0 !important;
}
ion-back-button {
  --background: none;
  --color: white;
}
.form-group .form-control {
  border-radius: 20px;
  box-shadow: none !important;
  height: 50px !important;
  background: #fafafa !important;
}
.cartItemsDiv {
  border-radius: 5px;
  box-shadow: 2px 2px 15px #fafafa;
  padding: 5px;
}
.loaderScreen,
.loaderScreen:before,
.loaderScreen:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loaderScreen {
  color: #fd532d;
  font-size: 10px;
  margin: 80px auto;
  margin-bottom: 50px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loaderScreen:before,
.loaderScreen:after {
  content: '';
  position: absolute;
  top: 0;
}
.loaderScreen:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loaderScreen:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.noProductsDiv {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #fafafa;
}
.customerDetails {
  padding: 10px;
}
.customerDetails form {
  padding: 0;
}
ion-item ion-label {
  --color: #8b8b8b;
}
@media only screen and (max-width: 600px) {
  .cartDiv {
    padding: 0 !important;
  }
  .cDetailsForm {
    padding: 0;
  }
  .cartItemsDiv {
    padding: 10px;
  }
}
