/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
p {
  color: #6c757d;
}
.header {
  --background: #42d1f8;
}

.cart-table {
  border-bottom: 1px solid #aeb7ca;
}
// .header {
//   background: #fafafa;
//   height: 450px;
// }
.itemsCard {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 15px rgba(204, 204, 204, 0.192);
  background: #cc2121;
  margin-top: -20px;
}
.itemsHeader {
  padding: 5px;
  background: #fafafa;
  width: 100%;
  margin: auto;
}
.itemsCardDetails {
  width: 80%;
  margin: auto;
  padding: 5px;
}
.floatingBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.homeBtn {
  text-align: center;
}
.homeBtn button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 10px;
  outline: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #42d1f8;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#42d1f8, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
.whatsappBtn {
  background: #6ab04d;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  margin: 0px 5px;
  outline: none;
  transition: all 0.5s ease;
}
.whatsappBtn:hover {
  background-color: rgb(0, 105, 0);
}
.copyContentBtn {
  background-color: #ffb51e;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin: 0px 5px;
  outline: none;

  transition: all 0.5s ease;
}
.copyContentBtn:hover {
  background-color: #dd9300;
}
.success-checkmark {
  width: 80px;
  height: 100px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
    animation-iteration-count: infinite;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: '';
      height: 100px;
      position: absolute;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
// .header {
//   text-align: center;
//   padding: 20px;
// }
.headerText {
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .itemsCard {
    width: 100%;
  }
  // .header {
  //   height: 510px;
  // }
  .itemsCardDetails {
    width: 100%;
    margin: 5px;
  }
}
