<ion-content>
  <div
    class="cart-main-wrapper section-space pb-0"
    style="padding-bottom: 80px !important"
    *ngIf="cartArr && cartArr.length"
  >
    <div class="row" style="position: absolute; top: 12px; right: 25px">
      <a (click)="dismiss()" class="btn btn__bg text-white"
        ><i class="fa fa-close" aria-hidden="true"></i
      ></a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="success-checkmark">
            <div class="check-icon">
              <span class="icon-line line-tip"></span>
              <span class="icon-line line-long"></span>
              <div class="icon-circle"></div>
              <div class="icon-fix"></div>
            </div>
          </div>
          <h1>Order Placed</h1>
        </div>
        <section
          *ngIf="storeDetailsArr.enable_pay_button === 'yes'"
          style="margin: auto !important"
        >
          <div
            style="
              padding: 10px 25px;
              color: #cc2121;
              text-align: center;
              margin-bottom: 20px;
              display: block;
              width: 100%;
            "
          >
            Complete payment to process your order in the quickest way.
          </div>

          <div class="itemsCard">
            <form
              #my_form
              action="{{ wipay_payment_gateway_url }}"
              method="POST"
            >
              <input name="total" type="hidden" value="{{ +payable }}" />
              <input
                name="phone"
                type="hidden"
                value="{{ +customerDetailsArr[0].contactNo }}"
              />
              <input name="currency_code" type="hidden" value="JMD" />
              <input
                name="email"
                type="hidden"
                value="{{ customerDetailsArr[0].contactEmail }}"
              />
              <input
                name="name"
                type="hidden"
                value="{{ customerDetailsArr[0].name }}"
              />
              <input name="order_id" type="hidden" value="{{ orderKey }}" />
              <input
                name="return_url"
                type="hidden"
                value="{{ payment_return_url }}/{{ storeName }}"
              />
              <input
                name="developer_id"
                type="hidden"
                value="{{ storeDetailsArr.wipay_developer_id }}"
              />
              <!-- <input name="developer_id" type="hidden" value="1" /> -->

              <button
                class="btn btn-lg btn-success text-center btn-block"
                type="submit"
                (click)="my_form.submit()"
                [disabled]="
                  cartArr.length === 0 &&
                  storeDetailsArr.enable_pay_button === 'yes'
                "
              >
                <b>PAY NOW</b><i class="ti-angle-right"></i>
              </button>
            </form>
          </div>
        </section>
        <div
          style="
            padding: 10px 25px;
            color: #cc2121;
            text-align: center;
            margin-bottom: 20px;
            display: block;
            width: 100%;
          "
        >
          Your order has been submitted, <br />
          You will get an email from
          <strong style="color: deeppink">{{
            this.storeDetailsArr.display_name
          }}</strong>
          Team shortly.
          <br />
          If you do not see it in your inbox, Please do check your spam.
          <br />
          Thank you for shopping with us!
        </div>
        <div class="floatingBtns">
          <input
            type="hidden"
            name="whatsapp"
            id="whatsapp"
            value="{{ this.storeDetailsArr.whatsapp_number }}"
          />
          <button
            (click)="generateOrder()"
            id="generateOrderLink"
            type="button"
            class="whatsappBtn"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              width="20"
              height="20"
              data-prefix="fab"
              data-icon="whatsapp"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="svg-inline--fa fa-whatsapp fa-w-14 fa-2x"
            >
              <path
                fill="currentColor"
                d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                class=""
              ></path>
            </svg>
            Share Order on WhatsApp <br />
            <small>(Get Instance Response)</small>
          </button>
          <button (click)="copy_link()" type="button" class="copyContentBtn">
            <ion-icon slot="start" name="copy"></ion-icon>
            Copy Order Content! <br />
            <small>(Copy to Clipboard)</small>
          </button>
        </div>
      </div>
      <div class="section-bg-color" *ngIf="cartArr && cartArr.length">
        <div class="row">
          <div class="col-lg-12">
            <!-- Cart Table Area -->
            <div class="cart-table table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="pro-thumbnail">Thumbnail</th>
                    <th class="pro-title">Product</th>
                    <th class="pro-quantity">Quantity</th>
                    <th class="pro-subtotal">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartArr; let i = index">
                    <td class="pro-thumbnail">
                      <a
                        ><img
                          src="{{ item.images1 }}"
                          class="img-fluid"
                          alt="Product"
                      /></a>
                    </td>
                    <td class="pro-title">
                      <a
                        >{{ item.name }}
                        <span *ngIf="item.has_options">
                          <span *ngIf="item.has_options.value"
                            >[ {{ item.has_options.value }} ]</span
                          >
                        </span>

                        <span class="list list-inset" *ngIf="item.has_extras">
                          <span class="">
                            <br />
                            {{ getExtraName(item) }} :
                            {{ joinObj(item.has_extras, 'value') }}
                          </span>
                        </span>
                      </a>
                    </td>
                    <td class="pro-quantity">
                      {{ item.quantity }}
                    </td>
                    <td class="pro-subtotal">
                      {{
                        this.storeDetailsArr.currency_symbol | currencySymbol
                      }}
                      {{ item.product_payable_price }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <!-- Cart Calculation Area -->
          <div class="cart-calculator-wrapper">
            <div class="cart-calculate-items">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <td>Sub Total</td>
                    <td>
                      {{
                        this.storeDetailsArr.currency_symbol | currencySymbol
                      }}
                      {{ totalAmount.toFixed(2) }}
                    </td>
                  </tr>
                  <tr *ngIf="coupon_details !== 'false'">
                    <td>Discount</td>
                    <td>
                      {{
                        this.storeDetailsArr.currency_symbol | currencySymbol
                      }}
                      {{
                        (
                          (totalAmount * coupon_details.discount_percentage) /
                          100
                        ).toFixed(2)
                      }}
                    </td>
                  </tr>
                  <tr
                    *ngIf="
                      delivery_charges &&
                      (storeDetailsArr.order_mode === 'delivery' ||
                        storeDetailsArr.order_mode === 'all')
                    "
                  >
                    <td>Delivery Charges</td>
                    <td>
                      {{
                        this.storeDetailsArr.currency_symbol | currencySymbol
                      }}
                      {{ (+this.delivery_charges).toFixed(2) }}
                    </td>
                  </tr>
                  <tr
                    class="total"
                    *ngIf="
                      (storeDetailsArr.order_mode === 'delivery' ||
                        storeDetailsArr.order_mode === 'all') &&
                      customerDetailsArr[0].selectedDelivery === 'd'
                    "
                  >
                    <td>Total</td>
                    <td class="total-amount">
                      {{
                        this.storeDetailsArr.currency_symbol | currencySymbol
                      }}
                      {{
                        (
                          totalAmount +
                          (delivery_charges ? +delivery_charges : 0) -
                          coupon_discount_value
                        ).toFixed(2)
                      }}
                    </td>
                  </tr>

                  <tr
                    class="total"
                    *ngIf="
                      !delivery_charges &&
                      (storeDetailsArr.order_mode !== 'delivery' ||
                        storeDetailsArr.order_mode !== 'all') &&
                      customerDetailsArr[0].selectedDelivery === 'p'
                    "
                  >
                    <td>Total</td>
                    <td class="total-amount">
                      {{
                        this.storeDetailsArr.currency_symbol | currencySymbol
                      }}
                      {{ (totalAmount - coupon_discount_value).toFixed(2) }}
                    </td>
                  </tr>
                  <tr>
                    <td>Mode</td>
                    <td>
                      {{
                        customerDetailsArr[0].deliveryMode === 'd'
                          ? 'Delivery'
                          : 'Pickup'
                      }}
                    </td>
                  </tr>

                  <tr *ngIf="customerDetailsArr.length">
                    <td>Preferred mode of payment</td>
                    <td>{{ bank_options.name ? bank_options.name : 'N/A' }}</td>
                  </tr>

                  <tr *ngIf="customerDetailsArr.length">
                    <td>Bank details</td>
                    <td>
                      {{
                        bank_options.bank_details
                          ? bank_options.bank_details
                          : 'N/A'
                      }}
                    </td>
                  </tr>

                  <tr *ngIf="customerDetailsArr.length">
                    <td>Customer Details</td>
                    <td>
                      {{ customerDetailsArr[0].name }},<br />
                      {{ customerDetailsArr[0].contactEmail }},<br />
                      {{
                        customerDetailsArr[0].contact_country_code ===
                          undefined || null
                          ? ''
                          : customerDetailsArr[0].contact_country_code
                      }}{{ customerDetailsArr[0].contactNo }}, <br />
                      <span
                        *ngIf="customerDetailsArr[0].selectedDelivery === 'd'"
                      >
                        {{ customerDetailsArr[0].address1 }},<br />
                        {{ customerDetailsArr[0].address2 }}
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td>Special Instructions</td>
                    <td
                      *ngIf="
                        customerDetailsArr[0].notes &&
                        customerDetailsArr[0].notes !== '' &&
                        customerDetailsArr[0].notes !== ' ' &&
                        customerDetailsArr[0].notes !== undefined &&
                        customerDetailsArr[0].notes !== null
                      "
                    >
                      {{ customerDetailsArr[0].notes }}
                    </td>
                    <td
                      *ngIf="
                        !customerDetailsArr[0].notes ||
                        customerDetailsArr[0].notes == '' ||
                        customerDetailsArr[0].notes === ' ' ||
                        customerDetailsArr[0].notes === undefined ||
                        customerDetailsArr[0].notes == null
                      "
                    >
                      N/A
                    </td>
                  </tr>
                  <tr *ngIf="customerDetailsArr[0].selectedDelivery === 'p'">
                    <td>Pickup day</td>
                    <td>{{ pickup_day }}</td>
                  </tr>
                  <tr
                    *ngIf="
                      customerDetailsArr[0].selectedDelivery === 'd' &&
                      delivery_options
                    "
                  >
                    <td>Delivery Partner</td>
                    <td>
                      {{
                        delivery_options.name
                          ? delivery_options.name
                          : 'Default'
                      }}
                      -
                      {{
                        this.storeDetailsArr.currency_symbol | currencySymbol
                      }}
                      {{ delivery_options.price ? delivery_options.price : 0 }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <a (click)="dismiss()" class="btn btn__bg d-block text-white"
            >CONTINUE SHOPPING</a
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
