.header {
    text-align: right;
    border-bottom: 1px solid #ccc;
}
.content{
    padding: 10px;
}
.footer{
    padding: 10px;
}
.container .text-center {
    padding: 50px;
}
.container .text-center a{
    padding: 10px;
    background: rebeccapurple;
    text-align: center;
    border-radius: 18px;
    color: white;

}