<div class="header">
  <div class="btn" (click)="close()">
    <ion-icon slot="end" name="close"></ion-icon>
  </div>
</div>
<ion-content>
  <div class="content" *ngIf="title && termsData !== null">
    <div>
      <h4>{{ title.split('_').join(' ') | titlecase }}</h4>
      <div [innerHTML]="terms.content"></div>
    </div>
  </div>
  <div *ngIf="!title && termsData !== null" class="content">
    <div *ngIf="!title && termsData !== null">
      <h4>Terms And Conditions</h4>
      <div [innerHTML]="termsAndConditions"></div>
    </div>
    <div *ngIf="!title && termsData !== null">
      <h4>Disclaimer</h4>
      <div [innerHTML]="disclaimer"></div>
    </div>
    <div *ngIf="!title && termsData !== null">
      <h4>Privacy Policy</h4>
      <div [innerHTML]="privacyPolicy"></div>
    </div>
    <div *ngIf="!title && termsData !== null">
      <h4>Shipping & Payment Info</h4>
      <div [innerHTML]="shippingPaymentInfo"></div>
    </div>
    <div *ngIf="!title && termsData !== null">
      <h4>Return Policy</h4>
      <div [innerHTML]="returnPolicy"></div>
    </div>
    <div *ngIf="!title && termsData !== null">
      <h4>About Us</h4>
      <div [innerHTML]="aboutUs"></div>
    </div>
  </div>
  <div *ngIf="title === 'terms_and_conditions' && termsData === null" class="container">
    <div class="text-center">
      <h4>Terms And Conditions</h4>
      <a href="https://docs.google.com/document/u/4/d/1HXujPWol3H8CH0Dv4SHkFri3NxhgjqgnYLzSpXIWhA0/edit?usp=sharing" target="_blank">Click here</a>
    </div>
  </div>
  <div *ngIf="title === 'disclaimer' && termsData === null" class="container">
    <div class="text-center">
      <h4>Disclaimer</h4>
      <a href="https://docs.google.com/document/d/1_plAA530birA_caLPFqxV73XV0d8kOBdweS6gLI51v4/edit" target="_blank">Click here</a>
    </div>
  </div>
  <div *ngIf="title === 'privacy_policy' && termsData === null" class="container">
    <div class="text-center">
      <h4>Privacy Policy</h4>
      <a href="https://docs.google.com/document/d/1g1Tn2VtGPE8unFVppmh2hm07oWsG6dPtp79Wb25WGL8/edit" target="_blank">Click here</a>
    </div>
  </div>
</ion-content>
