<div *ngIf="loading" class="loader2">
  <div style="text-align: center">
    <img
      alt="Cartonfly"
      style="width: 40%"
      class="cartonflyLogo"
      src="./assets/icon/v1-lt.png"
    />
    <h4 style="color: blue">Welcome to CartOnFly!</h4>
    <p style="color: blue">Loading...</p>
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</div>
<ion-content fullscreen #container>
  <!-- <div class="title">
    <h1>What Else CartOnFly Trough</h1>
  </div> -->

  <nav class="navbar navbar-expand-sm navbar-light header">
    <div
      class="d-flex justify-content-between align-items-center"
      style="width: 100%"
    >
      <span class="navbar-brand d-flex align-items-center">
        <img
          alt="Cartonfly"
          class="cartonflyLogo"
          src="./assets/icon/v1-lt.png"
        />
        <h1
          class="text-contrast bold"
          style="
            color: #350dff !important;
            margin: auto;
            color: #350dff;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #350dff;
          "
        >
          CartOnFly
        </h1>
      </span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarID"
        aria-controls="navbarID"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarID">
      <div class="navbar-nav mr-md-2 align-items-center">
        <a
          class="nav-link active w-100"
          href="https://www.instagram.com/cartonflyja/"
          rel="noreferrer"
          target="_blank"
          style="width: 100% !important"
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <span class="d-lg-none d-inline ml-2">Follow Us</span>
        </a>

        <a
          class="nav-link active w-100"
          href="http://cartonfly.com"
          rel="noreferrer"
          target="_blank"
          style="width: 100% !important"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-globe"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"
            />
          </svg>
          <span class="d-lg-none d-inline ml-2">Read More</span>
        </a>

        <button
          class="nav-link active w-100 adminBtn"
          (click)="gotoAdminPage()"
        >
          <div>
            <i
              class="fa fa-user-circle-o"
              style="font-size: 18px"
              aria-hidden="true"
            ></i>
          </div>
          <div style="display: block; margin-left: 5px">Admin</div>
        </button>
        <!-- <a
          class="nav-link active"
          href="https://api.whatsapp.com/send?phone=1917-627-0693&text=Hi!"
          rel="noreferrer"
          target="_blank"
        >
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a> -->
      </div>
    </div>
  </nav>
  <div class="allStores row">
    <div class="col-md-12 searchInput d-flex align-items-center">
      <i
        class="fa fa-search"
        style="font-size: 22px; color: #bebebe; margin-right: 5px"
        aria-hidden="true"
      ></i>
      <input
        type="text"
        placeholder="Search Store..."
        [(ngModel)]="searchStoreName"
        (ngModelChange)="searchStore(filteredStores, searchStoreName)"
      />
    </div>
    <section
      *ngIf="filteredStores.length === 0"
      style="width: 100%; margin: 15px"
    >
      <div class="text-center">
        <img src="assets/images/noStores.png" style="width: 250px" alt="" />
        <h3>No Stores found...</h3>
      </div>
    </section>
    <div
      class="col-md-3 col-12 p-md-2 allCards"
      [hidden]="!store.value.logo || store.value.logo === ' '"
      *ngFor="let store of filteredStores | keyvalue; let i = index"
    >
      <div class="card">
        <span
          style=""
          class="flag-icon flag-icon-{{
            store.value.country_code | lowercase
          }} countryFlag"
        ></span>
        <img
          style="object-fit: contain"
          [src]="store.value.logo"
          (load)="imgLoaded = true"
          [hidden]="!imgLoaded"
          class="card-img-top"
          (error)="
            this.onerror = null;
            store.value.logo = false;
            this.src = './assets/images/no-image.png'
          "
          alt="{{ store.value.store_display | titlecase }}"
        />
        <!-- Spinner -->
        <img
          style="object-fit: contain"
          *ngIf="!imgLoaded"
          src="assets/icon/spinner.gif"
          alt="Spinner"
        />
        <!-- <ion-spinner
          style="
            display: block;
            width: 100%;
            margin-top: 20%;
            margin-bottom: 20%;
            vertical-align: middle;
          "
          width="250px"
          height="100px"
          [ngClass]="{ 'align-items-center text-center': true }"
          *ngIf="!imgLoaded"
        >
        </ion-spinner> -->
        <div class="card-body">
          <h5 class="card-title">
            {{ store.value.store_display | titlecase }}
          </h5>
          <div class="card-subtitle mb-2 text-muted d-flex align-items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              fill="currentColor"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              />
            </svg>
            <span>{{ store.value.address }}</span>
          </div>
        </div>

        <div>
          <a
            style="text-decoration: none"
            target="_blank"
            [href]="store.value.store_name"
            class="shopnowBtn btn m-2"
            >SHOP NOW</a
          >
        </div>
      </div>
    </div>

    <!-- <div class="row pl-3 pr-3 postersDiv">
      <a
        href="https://cartonfly.com/"
        target="_blank"
        class="col-md-3 col-12 p-md-2 mb-4 mt-4 addCard"
      >
        <div style="border: 1px solid #ccc">
          <img src="assets/posters/20.jpg" alt="" />
        </div>
      </a>
      <a href="https://cartonfly.com/" target="_blank" class="col-md-3 col-12 p-md-2 mb-4 mt-4 addCard">
        <div style="border: 1px solid #ccc">
          <img src="assets/posters/24.jpg" alt="" />
        </div>
      </a>
      <a href="https://cartonfly.com/" target="_blank" class="col-md-3 col-12 p-md-2 mb-4 mt-4 addCard">
        <div style="border: 1px solid #ccc">
          <img src="assets/posters/26.png" alt="" />
        </div>
      </a>
      <a href="https://cartonfly.com/" target="_blank" class="col-md-3 col-12 p-md-2 mb-4 mt-4 addCard">
        <div style="border: 1px solid #ccc">
          <img src="assets/posters/19.png" alt="" />
        </div>
      </a>
    </div> -->
    <!-- <div class="row pl-3 pr-3 postersDiv">
      <a
        href="https://cartonfly.com/"
        target="_blank"
        class="col-md-3 col-12 p-md-2 mb-4 mt-4 allCards"
      >
        <div style="border: 1px solid #ccc">
          <img src="assets/posters/28.jpg" alt="" />
        </div>
      </a>
      <a
        href="https://cartonfly.com/"
        target="_blank"
        class="col-md-3 col-12 p-md-2 mb-4 mt-4 allCards"
      >
        <div style="border: 1px solid #ccc">
          <img src="assets/posters/27.png" alt="" />
        </div>
      </a>
      <a
        href="https://cartonfly.com/"
        target="_blank"
        class="col-md-3 col-12 p-md-2 mb-4 mt-4 allCards"
      >
        <div style="border: 1px solid #ccc">
          <img src="assets/posters/15.jpg" alt="" />
        </div>
      </a>
      <a
        href="https://cartonfly.com/"
        target="_blank"
        class="col-md-3 col-12 p-md-2 mb-4 mt-4 allCards"
      >
        <div style="border: 1px solid #ccc">
          <img src="assets/posters/18.png" alt="" />
        </div>
      </a>
    </div> -->
    <svg
      (click)="scrollToTop()"
      xmlns="http://www.w3.org/2000/svg"
      width="10"
      height="10"
      fill="currentColor"
      class="bi bi-arrow-up"
      viewBox="0 0 16 16"
      class="goToTopFloatingButtonArea"
    >
      <path
        fill-rule="evenodd"
        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"
      />
    </svg>
  </div>
  <footer
    class="site-footer section block bg-contrast p-0"
    style="border-top: 1px solid #ccc; margin-top: 10px"
  >
    <section class="section bg-contrast b-b">
      <div class="container pt-5">
        <div class="shadow rounded text-center bg-info-gradient p-5">
          <h2 class="mb-5 text-contrast">
            Try CartOnFly now.... love it forever
          </h2>
          <p class="handwritten highlight font-md text-alternate">
            Why wait? Start now!
          </p>
          <a
            class="btn btn-darker btn-rounded mt-4"
            href="http://admin.cartonfly.com/#/register"
            rel="noreferrer"
            target="_blank"
            >Start now</a
          >
        </div>
      </div>
    </section>
    <div class="container py-4">
      <div class="row align-items-center center-flex">
        <div class="col-md-5 text-center text-md-left">
          <nav class="nav justify-content-center justify-content-md-start">
            <a
              class="nav-item nav-link"
              href="https://docs.google.com/document/d/1_plAA530birA_caLPFqxV73XV0d8kOBdweS6gLI51v4/edit"
              rel="noreferrer"
              style="color: #350dff"
              target="_blank"
              >Disclaimer</a
            >
            <a
              class="nav-item nav-link"
              href="https://docs.google.com/document/d/1g1Tn2VtGPE8unFVppmh2hm07oWsG6dPtp79Wb25WGL8/edit#"
              rel="noreferrer"
              style="color: #350dff"
              target="_blank"
              >Privacy Policy</a
            >
            <a
              class="nav-item nav-link"
              href="https://docs.google.com/document/d/1HXujPWol3H8CH0Dv4SHkFri3NxhgjqgnYLzSpXIWhA0/edit"
              rel="noreferrer"
              style="color: #350dff"
              target="_blank"
              >Terms &amp; Conditions</a
            >
          </nav>
        </div>
        <div class="col-md-2 text-center">
          <img
            alt=""
            class="logo"
            src="./assets/icon/v1-lt.png"
            style="width: 60px"
          />
          <h1
            class="text-contrast bold"
            style="
              color: #350dff !important;
              margin: auto;
              color: #350dff;
              -webkit-text-fill-color: white; /* Will override color (regardless of order) */
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: #350dff;
            "
          >
            CartOnFly
          </h1>
        </div>
        <div class="col-md-5 text-center text-md-right">
          <p class="mt-2 mb-0 text-secondary small">
            © 2020 CartOnFly. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
    <div class="container" style="padding-bottom: 40px">
      <div class="row">
        <div class="col-14">
          <div
            id="notification"
            class="notification"
            style="
              display: none;
              position: fixed;
              bottom: 0px;
              width: 100%;
              z-index: 1000;
            "
          ></div>
        </div>
        <div class="col-12 text-center">
          <p class="copyrightText">
            <svg
              height="16px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 479.447 479.447"
              style="enable-background: new 0 0 479.447 479.447"
              xml:space="preserve"
            >
              <linearGradient
                id="SVGID_1_"
                gradientUnits="userSpaceOnUse"
                x1="-27.3932"
                y1="557.6458"
                x2="-27.3932"
                y2="617.6458"
                gradientTransform="matrix(8 0 0 -8 458.8696 4941.187)"
              >
                <stop offset="0" style="stop-color: #006df0" />
                <stop offset="1" style="stop-color: #00e7f0" />
              </linearGradient>
              <path
                style="fill: url(#SVGID_1_)"
                d="M479.447,240.021c-0.001-132.548-107.453-240-240.001-239.999
                           c-8.594,0-17.182,0.462-25.727,1.383c-7.832,0.8-15.568,2.112-23.2,3.704c-1.477,0.309-2.955,0.635-4.432,0.976
                           C141.12,16.323,100.06,39.314,67.831,72.301c-2.997,3.072-5.931,6.235-8.8,9.488c-87.06,99.948-76.612,251.548,23.337,338.608
                           c95.688,83.349,239.723,77.803,328.719-12.656c3.003-3.072,5.936-6.235,8.8-9.488C458.308,354.498,479.481,298.25,479.447,240.021z
                           M400.399,395.741c-1.264,1.304-2.568,2.56-3.856,3.832c-1.488,1.464-2.976,2.944-4.504,4.368c-1.328,1.24-2.696,2.4-4.056,3.64
                           c-1.552,1.376-3.096,2.752-4.68,4.08c-1.4,1.168-2.824,2.296-4.248,3.432c-1.6,1.28-3.2,2.56-4.848,3.792
                           c-1.456,1.096-2.936,2.16-4.424,3.2c-1.656,1.184-3.32,2.4-5.008,3.504c-1.512,1.024-3.04,2.016-4.576,2.992
                           c-1.712,1.104-3.437,2.171-5.176,3.2c-1.6,0.936-3.128,1.848-4.704,2.752c-1.771,1.008-3.552,1.992-5.344,2.952
                           c-1.6,0.853-3.2,1.688-4.8,2.504c-1.824,0.92-3.664,1.808-5.512,2.68c-1.6,0.76-3.264,1.52-4.912,2.24
                           c-1.88,0.8-3.784,1.6-5.688,2.4c-1.656,0.672-3.304,1.344-4.968,1.976c-1.952,0.744-3.912,1.44-5.88,2.12
                           c-1.664,0.584-3.328,1.168-5.016,1.712c-2,0.648-4,1.24-6.04,1.824c-1.672,0.496-3.352,0.992-5.04,1.448
                           c-0.648,0.168-1.296,0.304-1.944,0.472c23.68-22.993,41.253-51.529,51.128-83.024c18.988,5.008,37.37,12.082,54.816,21.096
                           C400.855,395.221,400.631,395.501,400.399,395.741L400.399,395.741z M176.775,455.005c-2.024-0.592-4.056-1.184-6.056-1.832
                           c-1.688-0.544-3.352-1.128-5.016-1.712c-1.968-0.68-3.936-1.376-5.88-2.12c-1.664-0.632-3.304-1.296-4.952-1.968
                           c-1.912-0.8-3.824-1.6-5.72-2.4c-1.632-0.72-3.256-1.461-4.872-2.224c-1.864-0.88-3.72-1.776-5.6-2.704c-1.6-0.8-3.2-1.6-4.8-2.472
                           c-1.808-0.968-3.6-1.96-5.392-2.984c-1.6-0.888-3.12-1.8-4.664-2.728c-1.76-1.056-3.488-2.144-5.216-3.256
                           c-1.52-0.968-3.04-1.952-4.536-2.96c-1.704-1.152-3.392-2.352-5.064-3.552c-1.464-1.048-2.928-2.096-4.368-3.2
                           c-1.656-1.248-3.28-2.536-4.896-3.832c-1.416-1.128-2.824-2.248-4.208-3.408c-1.6-1.328-3.144-2.712-4.696-4.088
                           c-1.36-1.208-2.728-2.4-4.056-3.632c-1.528-1.424-3.008-2.904-4.496-4.368c-1.288-1.272-2.6-2.528-3.864-3.832
                           c-0.232-0.248-0.456-0.504-0.688-0.744c17.445-9.018,35.827-16.095,54.816-21.104c9.877,31.494,27.449,60.029,51.128,83.024
                           c-0.648-0.168-1.304-0.304-1.952-0.48C180.111,456.021,178.439,455.493,176.775,455.005L176.775,455.005z M66.991,97.181
                           c19.217,10.412,39.595,18.522,60.712,24.16c-10.352,35.996-15.786,73.227-16.152,110.68h-95.92
                           C17.374,182.632,35.435,135.214,66.991,97.181z M78.495,84.301c1.264-1.312,2.576-2.568,3.864-3.84
                           c1.488-1.464,2.968-2.936,4.488-4.352c1.336-1.248,2.712-2.448,4.08-3.664c1.544-1.368,3.08-2.736,4.664-4.056
                           c1.392-1.176,2.824-2.304,4.248-3.44c1.6-1.28,3.2-2.56,4.848-3.792c1.456-1.096,2.936-2.16,4.424-3.2
                           c1.656-1.184,3.32-2.4,5.008-3.504c1.512-1.024,3.04-2.016,4.576-3c1.712-1.096,3.432-2.176,5.168-3.2
                           c1.563-0.933,3.136-1.851,4.72-2.752c1.771-1.008,3.549-1.992,5.336-2.952c1.6-0.853,3.2-1.688,4.8-2.504
                           c1.824-0.92,3.664-1.808,5.512-2.68c1.6-0.76,3.264-1.52,4.912-2.24c1.88-0.8,3.784-1.6,5.688-2.4
                           c1.656-0.68,3.304-1.344,4.976-1.984c1.936-0.736,3.896-1.424,5.856-2.112c1.672-0.584,3.344-1.168,5.04-1.72
                           c1.992-0.64,4-1.232,6.016-1.816c1.688-0.488,3.36-0.992,5.056-1.448c0.648-0.168,1.296-0.304,1.944-0.472
                           c-23.68,22.993-41.253,51.529-51.128,83.024c-18.988-5.008-37.37-12.082-54.816-21.096C78.039,84.821,78.263,84.541,78.495,84.301z
                           M302.119,25.037c2.024,0.592,4.056,1.184,6.056,1.832c1.688,0.544,3.352,1.128,5.016,1.712c1.968,0.68,3.936,1.376,5.88,2.12
                           c1.664,0.632,3.304,1.296,4.952,1.968c1.912,0.8,3.824,1.6,5.72,2.4c1.632,0.72,3.256,1.461,4.872,2.224
                           c1.864,0.88,3.72,1.776,5.6,2.704c1.6,0.8,3.2,1.6,4.8,2.472c1.808,0.968,3.6,1.96,5.392,2.984c1.6,0.888,3.12,1.8,4.664,2.728
                           c1.76,1.056,3.488,2.144,5.216,3.256c1.52,0.968,3.04,1.952,4.536,2.96c1.704,1.152,3.384,2.344,5.056,3.544
                           c1.472,1.048,2.936,2.104,4.384,3.2c1.648,1.24,3.264,2.528,4.888,3.824c1.408,1.12,2.824,2.24,4.208,3.408
                           c1.6,1.328,3.144,2.712,4.696,4.088c1.36,1.208,2.728,2.4,4.056,3.632c1.528,1.424,3.008,2.904,4.496,4.368
                           c1.288,1.272,2.6,2.528,3.864,3.832c0.232,0.248,0.456,0.504,0.688,0.744c-17.445,9.018-35.827,16.095-54.816,21.104
                           c-9.896-31.498-27.491-60.031-51.192-83.016c0.648,0.168,1.304,0.304,1.952,0.48C298.783,24.021,300.455,24.549,302.119,25.037
                           L302.119,25.037z M367.343,232.021c-0.366-37.453-5.8-74.684-16.152-110.68c21.116-5.64,41.494-13.75,60.712-24.16
                           c31.554,38.034,49.615,85.452,51.36,134.84H367.343z M231.447,119.789c-27.97-0.39-55.824-3.669-83.12-9.784
                           c18.88-52.76,48.888-88.488,83.12-93.352V119.789z M143.303,125.277c28.929,6.597,58.475,10.121,88.144,10.512v96.232H127.551
                           C127.959,195.891,133.257,159.984,143.303,125.277L143.303,125.277z M231.447,248.021v96.232
                           c-29.67,0.39-59.215,3.914-88.144,10.512c-10.045-34.707-15.344-70.615-15.752-106.744H231.447z M231.447,360.253v103.136
                           c-34.232-4.864-64.24-40.592-83.12-93.352C175.623,363.924,203.478,360.646,231.447,360.253z M247.447,360.253
                           c27.97,0.39,55.824,3.669,83.12,9.784c-18.88,52.76-48.888,88.488-83.12,93.352V360.253z M335.591,354.765
                           c-28.929-6.597-58.475-10.121-88.144-10.512v-96.232h103.896C350.936,284.15,345.637,320.058,335.591,354.765L335.591,354.765z
                           M247.447,232.021v-96.232c29.67-0.39,59.215-3.914,88.144-10.512c10.045,34.707,15.344,70.615,15.752,106.744H247.447z
                           M247.447,119.789V16.653c34.232,4.864,64.24,40.592,83.12,93.352C303.271,116.117,275.417,119.396,247.447,119.789z
                           M111.551,248.021c0.366,37.453,5.8,74.684,16.152,110.68c-21.116,5.64-41.494,13.75-60.712,24.16
                           c-31.554-38.034-49.615-85.452-51.36-134.84H111.551z M351.191,358.701c10.352-35.996,15.786-73.227,16.152-110.68h95.92
                           c-1.742,49.389-19.804,96.807-51.36,134.84C392.686,372.448,372.308,364.339,351.191,358.701L351.191,358.701z"
              />
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
            &nbsp;<a
              href="https://cartonfly.com"
              target="_blank"
              rel="noreferrer"
              style="color: black"
              >www.CartOnFly.com</a
            >
            &nbsp;

            <!-- &#8226;
                        Hand-crafted with -->
            <svg
              height="18px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 512 512"
              style="enable-background: new 0 0 512 512"
              xml:space="preserve"
            >
              <path
                style="fill: #ec5569"
                d="M407.252,8.241H103.623c-50.527,0-91.487,40.961-91.487,91.487v199.144
                           c0,50.528,40.961,91.487,91.487,91.487h43.575c2.073,0,3.753,1.681,3.753,3.753v98.233c0,11.615,14.207,17.246,22.163,8.784
                           l103.067-109.59c0.71-0.755,1.699-1.182,2.735-1.182h128.335c50.528,0,91.487-40.961,91.487-91.487V99.729
                           C498.741,49.201,457.78,8.241,407.252,8.241z"
              />
              <path
                style="fill: #e63950"
                d="M189.442,356.215c0-2.183-1.627-3.952-3.634-3.952h-42.185c-48.915,0-88.569-43.133-88.569-96.341
                           V46.215c0-9.003,1.139-17.716,3.263-25.983C30.731,35.988,12.135,65.686,12.135,99.729v199.144
                           c0,50.527,40.961,91.487,91.487,91.487h43.575c2.073,0,3.753,1.681,3.753,3.753v98.233c0,11.615,14.207,17.246,22.163,8.784
                           l16.325-17.359V356.215H189.442z"
              />
              <path
                style="fill: #ec5569"
                d="M358.235,126.972L358.235,126.972c-23.228-23.228-60.888-23.228-84.116,0l-13.121,13.121
                           c-3.128,3.128-8.201,3.128-11.33,0l-12.911-12.911c-23.228-23.228-60.888-23.228-84.116,0l0,0
                           c-23.228,23.228-23.228,60.888,0,84.116l97.035,97.035c3.128,3.128,8.201,3.128,11.33,0l97.229-97.245
                           C381.463,187.86,381.463,150.2,358.235,126.972z"
              />
              <path
                style="fill: #fff5f5"
                d="M358.235,126.972L358.235,126.972c-23.228-23.228-60.888-23.228-84.116,0l-13.121,13.121
                           c-3.128,3.128-8.201,3.128-11.33,0l-12.911-12.911c-23.228-23.228-60.888-23.228-84.116,0l0,0
                           c-23.228,23.228-23.228,60.888,0,84.116l97.035,97.035c3.128,3.128,8.201,3.128,11.33,0l97.229-97.245
                           C381.463,187.86,381.463,150.2,358.235,126.972z"
              />
              <path
                style="fill: #dce6eb"
                d="M183.755,211.298c-23.228-23.228-23.228-60.888,0-84.116l0,0
                           c7.619-7.619,16.795-12.723,26.501-15.343c-19.884-5.369-42.006-0.266-57.614,15.343l0,0c-23.228,23.228-23.228,60.888,0,84.116
                           l97.035,97.035c3.128,3.128,8.201,3.128,11.33,0l9.89-9.892L183.755,211.298z"
              />
              <path
                d="M407.815,0h-303.63c-21.379,0-41.736,6.707-58.87,19.394c-3.341,2.474-4.043,7.188-1.57,10.529
                           c2.474,3.341,7.188,4.042,10.529,1.57c14.522-10.754,31.781-16.439,49.911-16.439h303.629c46.296,0,83.96,37.665,83.96,83.96
                           v199.144c0,46.296-37.665,83.96-83.96,83.96H279.48c-3.101,0-6.097,1.296-8.217,3.553l-103.068,109.59
                           c-2.225,2.364-4.805,1.693-5.81,1.296c-1.006-0.398-3.345-1.676-3.345-4.924V393.4c0-6.22-5.06-11.28-11.28-11.28h-43.575
                           c-46.296,0-83.961-37.665-83.961-83.96V99.014c0-17.032,5.069-33.429,14.66-47.417c2.35-3.429,1.477-8.113-1.951-10.464
                           c-3.427-2.351-8.114-1.476-10.464,1.951C11.153,59.59,5.171,78.93,5.171,99.014v199.144c0,54.596,44.418,99.014,99.015,99.014
                           h39.801v94.461c0,8.398,5.044,15.824,12.851,18.918c2.461,0.975,5.017,1.449,7.543,1.449c5.489,0,10.84-2.237,14.78-6.425
                           l101.95-108.402h126.704c54.596,0,99.014-44.418,99.014-99.014V99.014C506.829,44.418,462.412,0,407.815,0z"
              />
              <path
                d="M331.001,227.529c-2.94,2.94-2.94,7.706,0.001,10.644c2.94,2.939,7.706,2.94,10.644-0.001l22.473-22.476
                           c26.124-26.125,26.124-68.636-0.001-94.761c-26.124-26.125-68.635-26.123-94.761,0l-13.119,13.12
                           c-0.035,0.035-0.144,0.143-0.344,0.143c-0.2,0-0.307-0.106-0.342-0.143l-12.911-12.91c-26.125-26.125-68.635-26.124-94.76,0
                           c-26.125,26.125-26.125,68.636,0,94.761l97.035,97.035c2.934,2.935,6.837,4.551,10.987,4.551c4.15,0,8.053-1.617,10.987-4.552
                           l53.325-53.334c2.94-2.94,2.94-7.706-0.001-10.644c-2.94-2.939-7.707-2.94-10.644,0.001l-53.325,53.334
                           c-0.035,0.035-0.143,0.142-0.342,0.142c-0.201,0-0.308-0.106-0.343-0.143l-97.035-97.035c-20.256-20.256-20.256-53.215,0-73.472
                           s53.215-20.255,73.471,0l12.91,12.91c2.934,2.936,6.837,4.552,10.987,4.552c4.151,0,8.052-1.616,10.988-4.551l13.12-13.12
                           c20.26-20.255,53.216-20.254,73.472,0c20.256,20.256,20.256,53.214,0,73.472L331.001,227.529z"
              />
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
            <br />
            <a
              href="https://cartonfly.com"
              target="_blank"
              rel="noreferrer"
              style="color: #5333ed"
            >
              Planning to take your store online?
            </a>
            <ion-icon name="open" color="primary"></ion-icon>
          </p>
        </div>
      </div>
    </div>
  </footer>
</ion-content>
