.cartonflyLogo {
  width: 60px;
}
.countryFlag {
  font-size: 20px;
  position: absolute;
  right: 5px;
  transform: scaleX(1.4);
}
.postersDiv {
  padding-left: 1rem !important;
  //border-top: 1px solid #ccc;
  //  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
}
.shopnowBtn {
  text-decoration: none;
  display: block;
  // border-radius: 40px;
  background: blueviolet;
  outline: none;
  border: none;
  color: white;
  transition: all 0.5s ease;
}
.shopnowBtn:hover {
  background: none;
  color: blueviolet;
  border: 1px solid blueviolet;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.062);
}
.navbar-nav a {
  padding: 10px;
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  color: blueviolet !important;
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease;
}
.navbar-nav a:hover {
  background: #fafafa;
  color: black !important;
}
.title {
  text-align: center;
}
.title h1 {
  font-size: 2.5rem;
  color: #6d768b;
}
.allStores input {
  padding: 10px;
  border: 0px;
  background: #f0f0f0;
  outline: none;
  width: 100%;
  border-radius: 20px;
}
.allStores {
  padding: 5px 15px;
}
.storesCard {
  text-align: center;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 5px;
  padding: 10px;
}
.storesCard h5 {
  color: #6a7695;
}
.storesCard h5:hover {
  color: #00c1f7;
}
.allCards {
  outline: none;
  transition: all 0.2s ease;
}
.allCards .card {
  height: 100%;
  box-shadow: 2px 2px 15px #e2e2e2a2 !important;
  border: none;
}
.allCards .card img {
  height: 260px;
  width: 100%;
  padding: 10%;
  object-fit: fill;
}
.addCard::before {
  content: 'Ad';
  position: absolute;
  background: #fafb0a;
  color: black;
  padding: 2px 5px;
  font-size: 12px;
}
.card-body {
  overflow: auto;
}
.cardHeader {
  padding: 10px 55px;
  text-align: center;
  background: #00c1f7;
  color: white;
  font-size: 20px;
  border-radius: 35px;
}
.bg-info-gradient {
  background: linear-gradient(#0085e1, #0083dd);
}
.mb-5 {
  margin-bottom: 3rem !important;
  color: white;
  font-size: xx-large;
}
.handwritten.highlight {
  line-height: 1.25em;
  transform: rotate(-5deg);
}
.handwritten {
  font-family: Caveat, cursive, Poppins, sans-serif;
}
.font-md {
  font-size: 1.75rem !important;
}
.text-alternate {
  color: #fc9e21 !important;
}
.btn-darker {
  color: #fff;
  background-color: #161c2d;
  border-color: #161c2d;
  border-radius: 20px;
}
.section {
  padding: 0px;
}
.loader2 {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 31;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 10px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.473);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.loaderScreen,
.loaderScreen:before,
.loaderScreen:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loaderScreen {
  color: #fd532d;
  font-size: 10px;
  margin: 225px auto;
  margin-bottom: 50px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loaderScreen:before,
.loaderScreen:after {
  content: '';
  position: absolute;
  top: 0;
}
.loaderScreen:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loaderScreen:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.termsAndConditionsDesktop {
  display: block;
}
.termsAndConditionsMobile {
  display: none;
}
.searchInput {
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #005bc4;
}
.adminBtn {
  display: flex;
  align-items: center;
  font-size: 15px;
  outline: none;
  border: 1px solid;
  justify-content: center;
  padding: 0px;
  border-radius: 5px;
  color: #005bc4 !important;
  background: none;
  height: 35px;
  transition: all 0.5s ease;
}
.adminBtn:hover {
  background: #0056b8;
  color: white !important;
}
@media only screen and (max-width: 576px) {
  .termsAndConditionsDesktop {
    display: none;
  }
  .countryFlag {
    right: 5px;
  }
  .searchInput {
    padding: 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #005bc4;
  }
  .allStores {
    background: rgb(216, 216, 216) !important;
  }
  .termsAndConditionsMobile {
    display: block;
  }
  .navbar-nav {
    text-align: center;
  }
  .allCards {
    padding: 0%;
    height: auto;
    margin-top: 10px;
  }
  .allCards .card {
    box-shadow: none !important;
  }
}
@media only screen and(min-width: 576px) {
  .termsAndConditionsDesktop {
    display: none;
  }
  .termsAndConditionsMobile {
    display: block;
  }
  // .navbar-expand-sm .navbar-nav {
  //   position: absolute;
  //   right: 0;
  // }
}
