/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
p {
  color: #6c757d;
}
.header {
  background: #fafafa;
  height: 250px;
}
.itemsCard {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 15px rgba(204, 204, 204, 0.192);
  background: white;
  margin-top: -60px;
}
.itemsHeader {
  padding: 5px;
  background: #fafafa;
  width: 100%;
  margin: auto;
}
.itemsCardDetails {
  width: 80%;
  margin: auto;
  padding: 5px;
}
.floatingBtns {
  position: fixed;
  right: 0;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 60px;
}
.homeBtn {
  text-align: center;
}
.homeBtn button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 10px;
  outline: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #42d1f8;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#42d1f8, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
.whatsappBtn {
  background: #24cc63;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  transition: all 0.5s ease;
}
.whatsappBtn:hover {
  background-color: rgb(0, 105, 0);
}
.copyContentBtn {
  background-color: #ececec;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  transition: all 0.5s ease;
}
.copyContentBtn:hover {
  background-color: #e4e4e4;
}
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
    animation-iteration-count: infinite;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #fafafa;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #fafafa;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
.header {
  text-align: center;
  padding: 20px;
}
.headerText {
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .itemsCard {
    width: 100%;
  }
  .itemsCardDetails {
    width: 100%;
    margin: 5px;
  }
}



.checkoutForm {
  background-color: #fafafa;
}
.formContent {
  background-color: white;
  border-radius: 10px;
  margin: 25px auto;
}
.cardHeader {
  padding: 15px 20px;
  font-size: 20px;
  color: black;
  background-color: #fafafa;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardHeader button {
  background-color: #408858;
}
.cardBody {
  text-align: left;
  padding: 10px;
}
.loader {
  width: 80px;
  height: 80px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.noItemsCart {
  display: grid;
  padding: 230px 0px;
  text-align: center;
  justify-content: center;
  color: #408858;
  font-weight: 500;
}
.loadingText {
  animation-name: loadingText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes loadingText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.success-animation svg {
  margin: 5px auto;
  font-size: 16px;
}
.success-animation {
  text-align: center;
  margin: 25px;
  font-size: 16px;
  color: #408858;
  font-weight: 500;
}
.checkmark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}
.backBtn {
  border: none;
  padding: 5px;
  outline: none;
  color: black;
  background: none;
  border-radius: 10px;
  margin: 10px 0px;
}
.backBtn:hover {
  background: #1c8f42;
  color: white;
}
@media only screen and (max-width: 600px) {
  .noItemsCart {
    padding: 180px 0px;
  }
  .formContent {
    padding: 0;
  }
}
