/* 
.container{
    width: 100%;
    height: 100vh;
    background: #e8ecff;
    position: relative;
} */
.veiw-box {
  width: 900px;
  height: 500px;
  border-radius: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}
#testimonials-section {
  display: flex;
  transition: 0.5s;
}
.user {
  width: 800px;
  text-align: center;
  padding: 20px 70px;
  box-sizing: border-box;
  background: #cc2121;
  border-radius: 200px;
  box-shadow: 0 10px 20px -5px #00000061;
  position: relative;
}

.space {
  margin: 0 70px;
}
.user img {
  width: 120px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.user p {
  font-size: 22px;
  color: #ffffff;
  line-height: 32px;
  margin: 60px 0 30px;
}
/* .user p::before {
  content: '\201C';
  font-size: 120px;
  height: 0;
  display: inline-block;
  vertical-align: -57;
  margin-right: 10px;
}
.user p::after {
  content: '\201D';
  font-size: 120px;
  height: 0;
  display: inline-block;
  vertical-align: -70;
  margin-left: 10px;
} */
.user h3 {
  font-size: 26px;
  color: #ffffff;
}
.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.controls span {
  width: 15px;
  height: 15px;
  background: #cc2121;
  border-radius: 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s;
}
.active1 {
  width: 45px !important;
}
@media only screen and (max-width: 500px) {
  .veiw-box {
    height: 680px;
    width: 290px;
    border-radius: 0px;
  }
  /* #testimonials {
    width: 270px;
    height: 320px;
  } */
  .user {
    padding: 20px;
    border-radius: 20px;
    width: 280px;
  }
}
