<ngx-spinner
  bdColor="
  white"
  color="#d35400"
>
  <span style="color: #d35400; font-size: 20px">Loading</span>
</ngx-spinner>
<ion-app style="display: flow-root">
  <ion-router-outlet id="mainContent"></ion-router-outlet>
</ion-app>
