// ion-menu {
//     ion-toolbar {
//         --background: var(--ion-color-color1);
//         height: 150px;

//         ion-row {
//             padding-top: 30px;

//             img {
//                 height: 50px;
//             }

//             .text-content {
//                 display: flex;
//                 align-items: center;
//                 font-size: 1.4rem;
//                 font-weight: bold;
//                 color: white;
//             }
//         }

//     }
// }

.img-loaded + ion-spinner {
  display: none;
}
// .center in my case to make the spinner at the center
.img-load-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
