<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button color="color1" default-href="" (click)="dismiss()" text="" icon="close">
      </ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-left">
      <svg height="18" viewBox="0 0 512 512" width="18" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <linearGradient id="New_Gradient_Swatch_14" gradientUnits="userSpaceOnUse" x1="378.779" x2="575.75" y1="348.007"
          y2="151.036">
          <stop offset=".015" stop-color="#a6a6b9" />
          <stop offset="1" stop-color="#cacad5" />
        </linearGradient>
        <linearGradient id="New_Gradient_Swatch_15" gradientUnits="userSpaceOnUse" x1="86.779" x2="451.75" y1="432.007"
          y2="67.036">
          <stop offset=".015" stop-color="#cacad5" />
          <stop offset="1" stop-color="#dcdce3" />
        </linearGradient>
        <linearGradient id="New_Gradient_Swatch_10" gradientUnits="userSpaceOnUse" x1="52.779" x2="421.75" y1="406.007"
          y2="37.036">
          <stop offset=".015" stop-color="#bfe8e5" />
          <stop offset="1" stop-color="#dff4f2" />
        </linearGradient>
        <linearGradient id="New_Gradient_Swatch_11" gradientUnits="userSpaceOnUse" x1="15.26" x2="384.231" y1="368.488"
          y2="-.483">
          <stop offset=".011" stop-color="#60c6be" />
          <stop offset="1" stop-color="#80d1cb" />
        </linearGradient>
        <linearGradient id="New_Gradient_Swatch_5" gradientUnits="userSpaceOnUse" x1="333.118" x2="468.882" y1="465.056"
          y2="329.292">
          <stop offset=".011" stop-color="#f8c73f" />
          <stop offset="1" stop-color="#fada7f" />
        </linearGradient>
        <g id="_30-appointment" data-name="30-appointment">
          <g id="gradient">
            <path
              d="m193.265 89.521a12 12 0 0 1 -12-12 28.032 28.032 0 0 0 -28-28 12 12 0 0 1 0-24 52.059 52.059 0 0 1 52 52 12 12 0 0 1 -12 12z"
              fill="#9595ac" />
            <path
              d="m313.265 89.521a12 12 0 0 1 -12-12 28.032 28.032 0 0 0 -28-28 12 12 0 0 1 0-24 52.059 52.059 0 0 1 52 52 12 12 0 0 1 -12 12z"
              fill="#9595ac" />
            <path
              d="m433.265 89.521a12 12 0 0 1 -12-12 28.032 28.032 0 0 0 -28-28 12 12 0 0 1 0-24 52.059 52.059 0 0 1 52 52 12 12 0 0 1 -12 12z"
              fill="#9595ac" />
            <rect fill="url(#New_Gradient_Swatch_14)" height="344" rx="12" width="64" x="445.265" y="77.522" />
            <rect fill="url(#New_Gradient_Swatch_15)" height="344" rx="12" width="400" x="69.265" y="77.522" />
            <path
              d="m466.7 82.1a12 12 0 0 0 -9.432-4.581h-376a12 12 0 0 0 -11.668 9.181l-64 264a12 12 0 0 0 11.662 14.827h376a12 12 0 0 0 11.662-9.173l64-264a12 12 0 0 0 -2.224-10.254z"
              fill="url(#New_Gradient_Swatch_10)" />
            <path d="m468.927 92.349a12 12 0 0 0 -11.662-14.827h-376a12 12 0 0 0 -11.665 9.178l-18.14 74.827h400.7z"
              fill="url(#New_Gradient_Swatch_11)" />
            <g fill="#a0ddd8">
              <path d="m293.265 225.521h-32a12 12 0 0 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m213.265 225.521h-32a12 12 0 0 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m133.265 225.521h-32a12 12 0 0 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m373.265 225.521h-32a12 12 0 0 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m277.265 273.521h-32a12 12 0 0 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m197.265 273.521h-32a12 12 0 1 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m117.265 273.521h-32a12 12 0 1 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m357.265 273.521h-32a12 12 0 1 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m269.265 321.521h-32a12 12 0 0 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m189.265 321.521h-32a12 12 0 0 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m109.265 321.521h-32a12 12 0 1 1 0-24h32a12 12 0 0 1 0 24z" />
              <path d="m349.265 321.521h-32a12 12 0 0 1 0-24h32a12 12 0 0 1 0 24z" />
            </g>
            <path d="m393.265 129.521a52 52 0 0 1 0-104 12 12 0 0 1 0 24 28 28 0 0 0 0 56 12 12 0 1 1 0 24z"
              fill="#9595ac" />
            <path d="m273.265 129.521a52 52 0 0 1 0-104 12 12 0 0 1 0 24 28 28 0 0 0 0 56 12 12 0 1 1 0 24z"
              fill="#9595ac" />
            <path d="m153.265 129.521a52 52 0 1 1 0-104 12 12 0 0 1 0 24 28 28 0 1 0 0 56 12 12 0 1 1 0 24z"
              fill="#9595ac" />
            <circle cx="401" cy="397.174" fill="url(#New_Gradient_Swatch_5)" r="96" />
            <path
              d="m401 289.174a108 108 0 1 0 108 108 108.122 108.122 0 0 0 -108-108zm12 191.126v-11.126a12 12 0 0 0 -24 0v11.126a84.171 84.171 0 0 1 -71.129-71.129h11.129a12 12 0 0 0 0-24h-11.129a84.17 84.17 0 0 1 71.129-71.126v11.129a12 12 0 0 0 24 0v-11.129a84.17 84.17 0 0 1 71.129 71.129h-11.129a12 12 0 0 0 0 24h11.129a84.171 84.171 0 0 1 -71.129 71.126z"
              fill="#fdecbf" />
            <path
              d="m401 409.174a11.969 11.969 0 0 1 -5.362-1.267l-32-16a12 12 0 0 1 10.732-21.467l24.265 12.132 25.884-25.884a12 12 0 0 1 16.97 16.971l-32 32a12 12 0 0 1 -8.489 3.515z"
              fill="#83839e" />
          </g>
        </g>
      </svg>


      Book An Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="appointment" fullscreen>
  <form id="appointment-form" name="form1" method="post">

    <div style="width:100%">

      <section style="padding: 20px;">

        <h4>Fill in the details :</h4>
        <hr>
        <div class="input-group input-group-sm mb-3 wrap-input100 validate-input"
          data-validate="Customer Name is required">
          <div class="input-group-prepend">
            <span class="input-group-text">Full Name&nbsp; <span class="small text-danger">(*required)</span></span>
          </div>
          <input type="text" id="attender_name" name="attender_name" class="input100 form-control validate"
            [value]="customerDetailsArr.length ? customerDetailsArr[0].name : ''" placeholder="Your full name">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend"> <span class="input-group-text">Contact
              number&nbsp; <span class="small text-danger">(*required)</span></span>
          </div>
          <input type="tel" class="form-control" placeholder="Your contact number" id="attender_contactNo"
            [value]="customerDetailsArr.length ? customerDetailsArr[0].contactNo : ''" name="attender_contactNo">
        </div>
        <!-- <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend"> <span class="input-group-text">Email&nbsp; <span
                class="small text-danger">(*required)</span></span>
          </div>
          <input type="email" class="form-control" placeholder="Your email address" id="contactEmail"
            [value]="customerDetailsArr.length ? customerDetailsArr[0].contactEmail : ''" name="email">
        </div> -->


        <div class="input-group input-group-sm mb-3" *ngIf="appointmentDetailsArr.length!==0">
          <div class="input-group-prepend"> <span class="input-group-text">Preferred
              option&nbsp;<span class="small text-danger">(*required)</span></span>
          </div>
          <select class="form-control form-control-alternative" id="appointment_option" name="appointment_option"
            required>
            <option value="none" label="Choose preferred option" selected="selected">
              Choose preferred option
            </option>
            <option value="{{item.key}}" *ngFor="let item of appointmentDetailsArr  | keyvalue; let i = index;"
              label="{{item.value.name}} ( {{this.storeDetailsArr.currency_symbol | currencySymbol}} {{item.value.price}} )">
              {{item.value.name}} <sub> ( {{this.storeDetailsArr.currency_symbol | currencySymbol}} {{item.value.price}} )</sub>
            </option>
          </select>
        </div>
        <div class="input-group input-group-sm mb-3">
          <ion-item style="width: 100%;">
            <ion-label>Choose Date & Time</ion-label>
            <ion-datetime displayFormat="DD-MMM-YY hh:mm A" id="appointment_date_time" name="appointment_date_time">
            </ion-datetime>
          </ion-item>
        </div>
       

      </section>

    </div>

  </form>


</ion-content>

<ion-footer no-border  *ngIf="!orderContent">
  <ion-toolbar class="ion-padding" transparent>
    <div class="row">
      <button (click)="submitForm();" type="button" class="btn confirm-button whatsapp-medium col">
        Submit
      </button>
    </div>

  </ion-toolbar>
</ion-footer>

<ion-footer no-border  *ngIf="orderContent">
  <ion-toolbar class="ion-padding" transparent>
    <p color="warning" class="text-danger">Your appointment request has been mailed, You can also share this request via whatsapp to get
      instant response from <strong class="text-danger">{{this.storeDetailsArr.display_name}} Team</strong>! Thank you
      for booking appointment with us.</p>


    <div class="row">
      <button (click)="generateOrder();" id="generateOrderLink" type="button"
        class="btn confirm-button whatsapp-medium col">

        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="whatsapp" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-whatsapp fa-w-14 fa-2x">
          <path fill="currentColor"
            d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
            class=""></path>
        </svg>
        Share Request on WhatsApp<br>
        <sub>(get instant response)</sub>
      </button>
    </div>


  </ion-toolbar>
</ion-footer>