<ion-header>
  <ion-toolbar class="header d-flex align-items-center justify-content-between">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" style="color: white; padding: 0"></ion-back-button>
    </ion-buttons>
    <ul class="d-flex align-items-center float-right m-0">
      <li>
        <button [routerLink]="['/cart/' + storeName]" [disabled]="cartProducts.length === 0"
          routerLinkActive="router-link-active" class="btn cartBtnNav text-white" *ngIf="!loadingCart">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart3"
            viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
          <span class="badge rounded-pill bg-success">{{
            cartProducts.length
            }}</span>
        </button>
        <div class="spinner-border text-white ml-2" role="status" *ngIf="loadingCart">
          <span class="sr-only">Loading...</span>
        </div>
      </li>
    </ul>
  </ion-toolbar>
</ion-header>
<ion-content class="content" #container>
  <div *ngIf="loading" style="height: 100%; margin-top: 260px">
    <div class="loaderScreen">Loading...</div>
    <div style="text-align: center; color: #fd532d; font-weight: 500">
      Please Wait
    </div>
  </div>

  <div *ngIf="singleProduct" class="allCardsBefore">
    <!-- {{this.singleProduct.images1 |json}} -->

    <div>
      <div [ngClass]="{
          hidden: singleProduct.status === 'inactive'
        }">
        <div class="addIProductsToCartDiv" [ngClass]="
            singleProduct.best_choice ? 'bestChoiceBadge promoted' : ' '
          ">
          <div class="singleCartItemArea addItemArea"
            [ngClass]="singleProduct.grade_a ? ' gradeABadge promoted1' : ' '">
            <div [ngClass]="
                singleProduct.out_of_stock ? 'outOfStockBadge promoted' : ' '
              ">
              <!-- Grid View -->
              <div class="row m-0" *ngIf="this.storeData.store">
                <div class="col-md-6 col-12">
                  <!-- (click)="
                      viewImageSlider(
                        singleProduct.images1,
                        singleProduct.additional_images
                      )
                    " -->
                  <img class="productImg" alt="product" [src]="imgValue" (load)="imgLoaded = true" [hidden]="!imgLoaded"
                    (error)="
                      this.onerror = null;
                      store.value.logo = false;
                      this.src = './assets/images/no-image.png'
                    " />
                  <!-- Spinner -->
                  <img style="object-fit: contain" *ngIf="!imgLoaded" src="assets/icon/spinner.gif" alt="Spinner" />
                  <div style="padding: 10px" class="row">
                    <div class="col-md-3 addiImages" (click)="viewMainImg(singleProduct.images1)">
                      <img [src]="this.common.defaultImg" alt="img" (load)="imgLoaded = true" [hidden]="!imgLoaded"
                        (error)="
                          this.onerror = null;
                          store.value.logo = false;
                          this.src = './assets/images/no-image.png'
                        " />
                      <!-- Spinner -->
                      <img style="object-fit: contain" *ngIf="!imgLoaded" src="assets/icon/spinner.gif" alt="Spinner" />
                    </div>
                    <div class="col-md-3 addiImages" *ngFor="
                        let addiImage of singleProduct.additional_images
                          | keyvalue
                      " (click)="viewImg(addiImage.value.image)">
                      <img [src]="addiImage.value.image" alt="img" (load)="imgLoaded = true" [hidden]="!imgLoaded"
                        (error)="
                          this.onerror = null;
                          store.value.logo = false;
                          this.src = './assets/images/no-image.png'
                        " />
                      <!-- Spinner -->
                      <img style="object-fit: contain" *ngIf="!imgLoaded" src="assets/icon/spinner.gif" alt="Spinner" />
                    </div>
                  </div>
                </div>

                <!-- <div class="socialShareBtns">
              <button
                class="fa fa-whatsapp btn"
                (click)="shareToWhatsapp(singleProduct.id)"
              ></button>
              <button
                (click)="shareToFacebook(singleProduct.id)"
                class="fa fa-facebook btn"
              ></button>
              <button
                class="fa fa-twitter btn"
                (click)="shareToTwitter(singleProduct.id)"
              ></button>
              <button
                class="fa fa-instagram btn"
                (click)="shareToInstagram(singleProduct.id)"
              ></button>
              <button
                class="fa fa-clipboard btn"
                (click)="copyMessage(product)"
                value="click to copy"
              ></button>
            </div> -->
                <div class="col-md-6 col-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="cardHeaderTitle cardTitle">{{ singleProduct.name }}
                      <!-- <span class="quantityCountProduct{{ singleProduct.id }} w3-green" style="
                          display: none;
                          background: green;
                          color: white;
                          padding: 5px;
                          border-radius: 5px;
                        ">x1
                      </span> -->
                    </span>
                    <span class="fa fa-clipboard btn" (click)="copyMessage(product)">
                    </span>
                  </div>
                  <p class="cardDescription" style="white-space: pre-line">
                    {{
                    singleProduct.description &&
                    singleProduct.description !== '0' &&
                    singleProduct.description !== 'N/A' &&
                    singleProduct.description !== 'false'
                    ? singleProduct.description
                    : selectedCategory.name
                    }}
                  </p>

                  <div *ngIf="isReview === false">
                    <span class="cardDescription" style="text-decoration: line-through" *ngIf="+singleProduct.price">{{
                      this.storeData.store.currency_symbol | currencySymbol
                      }}
                      {{ singleProduct.price }}</span>
                    <span class="cardHeaderTitle" style="font-size: 18px">
                      {{
                      this.storeData.store.currency_symbol | currencySymbol
                      }}
                      {{ singleProduct.discount_price }}</span>
                  </div>

                  <div class="itemPriceArea" *ngIf="
                      singleProduct.discount_price === '0' &&
                      singleProduct.sub_category_id !== 'false'
                    ">
                    <ion-button style="width: 100%" (click)="
                        chat(
                          'Hey! \nWould like to know more about the product - \n' +
                            singleProduct.name +
                            '.'
                        )
                      " expand="block" fill="clear" color="success">
                      <ion-icon slot="start" name="logo-whatsapp" color="success">
                      </ion-icon>
                      Inquiry
                    </ion-button>
                  </div>

                  <hr />

                  <section *ngIf="productOptionDetailsArr">
                    <div class="input-group input-group-sm mb-3" *ngIf="productOptionDetailsArr.status === 'active'">
                      <div class="input-group-prepend">
                        <span class="input-group-text">{{
                          productOptionDetailsArr.name
                          }}</span>
                      </div>
                      <select class="form-control form-control-alternative" (change)="
                          optionsChange(
                            $event,
                            productOptionDetailsArr.option_values,
                            productOptionDetailsArr.id
                          )
                        " required>
                        <option value="none" label="Default" selected="selected">
                          Default
                        </option>
                        <option value="{{ item.key }}" *ngFor="
                            let item of productOptionDetailsArr.option_values
                              | keyvalue;
                            let i = index
                          " label="{{ item.value.value }} ( {{
                            this.storeData.store.currency_symbol
                              | currencySymbol
                          }} {{ item.value.price }} )">
                          {{ item.value.value }}
                          <sub>
                            (
                            {{
                            this.storeData.store.currency_symbol
                            | currencySymbol
                            }}
                            {{ item.value.price }} )</sub>
                        </option>
                      </select>
                    </div>
                  </section>

                  <section *ngIf="productExtraDetailsArr">
                    <div class="input-group input-group-sm mb-3" *ngIf="productExtraDetailsArr.status === 'active'">
                      <div class="input-group-prepend">
                        <span class="input-group-text">{{
                          productExtraDetailsArr.name
                          }}</span>
                      </div>
                      <!-- <select class="form-control form-control-alternative" id="appointment_option"
                        name="appointment_option" required>
                        <option value="none" label="Default" selected="selected">
                          Default
                        </option>
                        <option value="{{item.key}}"
                          *ngFor="let item of productExtraDetailsArr.extra_values  | keyvalue; let i = index;"
                          label="{{item.value.value}} ( {{this.storeData.store.currency_symbol  | currencySymbol}} {{item.value.price}} )">
                          {{item.value.value}} <sub> ( {{this.storeData.store.currency_symbol | currencySymbol}}
                            {{item.value.price}} )</sub>
                        </option>
                      </select> -->

                      <div class="form-group">
                        <ion-item *ngFor="
                            let item of productExtraDetailsArr.extra_values
                              | keyvalue;
                            let i = index
                          ">
                          <ion-checkbox color="primary" (ionChange)="
                              extrasClick(
                                $event,
                                item,
                                productExtraDetailsArr.id
                              )
                            " checked="false">
                          </ion-checkbox>
                          &nbsp;&nbsp;&nbsp;
                          <ion-label>{{ item.value.value }} ( +
                            {{
                            this.storeData.store.currency_symbol
                            | currencySymbol
                            }}
                            {{ item.value.price }} )</ion-label>
                        </ion-item>
                      </div>
                    </div>
                  </section>

                  <!-- <div>
                    <div class="plusMinusButtonsDiv" *ngIf="
                        singleProduct.discount_price !== '0' &&
                        checkInCart(product) &&
                        singleProduct.sub_category_id
                      ">
                      <button type="button" class="minusQtyBtn" data-id="4" data-name="{{ singleProduct.name }}"
                        data-cost="singleProduct.discount_price" (click)="minusQuantityCOF(product, $event)">
                        -
                      </button>
                      <input type="text" class="form-control" style="padding: 0 !important; margin: 0 !important" value="{{
                          this.storeData.store.currency_symbol | currencySymbol
                        }} {{  productPayablePrice }}" name="qtyText" disabled />

                      <button type="button" class="plusQtyBtn" data-id="4" data-name="{{ singleProduct.name }}"
                        data-cost="singleProduct.discount_price" (click)="addToCartCOF(product)">
                        +
                      </button>
                    </div>
                  </div> -->
                  <p class="gradient-multiline" *ngIf="singleProduct.available_stock_quantity">
                    <span>Only<span>{{singleProduct.available_stock_quantity}}</span>left. Order now.</span>
                  </p>

                  <div *ngIf="!singleProduct.out_of_stock">
                    <div *ngIf="isReview === false">
                      <!-- *ngIf="prodCount === 0" -->
                      <button type="button" class="cartBtn" (click)="addToCartCOF(singleProduct)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                          class="bi bi-cart-plus" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                          <path fill-rule="evenodd"
                            d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                        </svg>

                        <div style="font-size: 16px">
                          Add to Cart (
                          {{
                          this.storeData.store.currency_symbol
                          | currencySymbol
                          }}
                          {{ productPayablePrice }} )
                        </div>
                      </button>
                    </div>
                  </div>
                  <div class="deliveryDescription" *ngIf="singleProduct.delivery_description">
                    <p>{{ singleProduct.delivery_description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>