.header {
  --background: #42d1f8;
}
.content {
  --background: #f1f6f9;
}
ion-card {
  --background: white;
}
.button {
  background: none;
  border: none;
  padding: 10px 15px;
}
.singleCartItemArea.addItemArea {
  min-height: auto;
}
.cardHeaderTitle {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
.cartBtn {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background: #42d1f8;
  color: white;
  outline: none;
}
.plusMinusButtonsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plusMinusButtonsDiv button {
  padding: 5px 20px;
  font-size: 30px;
  border-radius: 5px;
  outline: none;
}
.plusMinusButtonsDiv input {
  background: none;
  outline: none;
  text-align: center;
  border: none;
}
.fa.fa-clipboard.btn:hover {
  background: #fafafa;
}
.productImg {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background: white;
}
img {
  object-fit: contain;
}
.addiImages {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 0;
  text-align: center;
}
.addiImages img {
  height: 100px;
  object-fit: cover !important;
}
.deliveryDescription {
  margin: 10px 0px;
  background: darkorange;
  padding: 5px;
  text-align: center;
  color: white;
}
.bestChoiceBadge.promoted:after {
  content: 'Best Choice';
  position: absolute;
  background: #cddc39;
  color: white;
  line-height: 1em;
  text-align: center;
  box-sizing: border-box;
  top: 0;
  left: 0;
  margin: 15px;
  padding: 5px 10px;
}

.bestChoiceListBadge {
  position: relative;
  //display: inline-block;
  overflow: hidden;
  font-size: 5px;
}
.outOfStockBadge.promoted:after {
  content: 'Out Of Stock';
  position: absolute;
  background: #d30000;
  color: white;
  top: 38px;
  left: 0;
  margin: 15px;
  padding: 5px 8px;
}

.gradeABadge.promoted1:after {
  content: 'Grade A';
  position: absolute;
  background: orange;
  color: white;
  top: 0;
  left: 0;
  margin: 25px 15px;
  padding: 2px 24px;
}

.gradeAListBadge.promoted1:after {
  align-content: center;
  content: 'A';
  position: absolute;
  background: orange;
  color: white;
  width: 14px;
  line-height: 1em;
  text-align: center;
  padding: 0.5em 5px;
  box-sizing: border-box;
  top: 5%;
  left: 2.5%;
  // -webkit-transform: rotate(0deg) translate(-90%, 42%);
  //transform: rotate(0deg) translate(-90%, 42%);
}
.loaderScreen,
.loaderScreen:before,
.loaderScreen:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loaderScreen {
  color: #fd532d;
  font-size: 10px;
  margin: 80px auto;
  margin-bottom: 50px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loaderScreen:before,
.loaderScreen:after {
  content: '';
  position: absolute;
  top: 0;
}
.loaderScreen:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loaderScreen:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@media only screen and (max-width: 600px) {
  .productImg {
    margin-bottom: 5px;
  }
}


.gradient-multiline {
  position: absolute;
  //background: rgb(211, 0, 0);
  color: white;
  //padding: 5px 30px;
  right: 0;
  z-index: 2;


  position: relative;
  width: 100%;
 // margin: 40px auto;
  background-color: transparent;
  text-align: center;
  line-height: 1.5em;
  overflow:hidden;
}
  
.gradient-multiline span {
  color: #fff;
  //background-color: #000;

  padding: 0.225rem 0.5rem;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@supports(mix-blend-mode: lighten) {
  
  .gradient-multiline::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(60deg, #3629a2, #00ceff);

    mix-blend-mode: lighten;
  }
  
}


