<ion-content>
 <!-- Start Header Area -->
 <header class="header-area">
  <!-- main header start -->
  <div id="main-header" class="main-header d-none d-lg-block">
    <!-- header middle area start -->
    <div class="header-main-area header-transparent sticky">
      <div class="container">
        <div class="row align-items-center position-relative">
          <!-- start logo area -->
          <div class="col-lg-2">
            <div class="logo">
              <a href="/">
                <img src="assets/img/logo/logo.jpg" alt="" />
              </a>
            </div>
          </div>
          <!-- start logo area -->

          <!-- main menu area start -->
          <div class="col-lg-7 position-static">
            <div class="main-menu-area">
              <div class="main-menu">
                <nav class="desktop-menu">
                  <ul>
                    <li class="active">
                      <a [href]="['/']">Home</a>
                      <!-- <ul class="dropdown">
                        <li><a href="index.html">Home version 01</a></li>
                        <li><a href="index-2.html">Home version 02</a></li>
                        <li><a href="index-3.html">Home version 03</a></li>
                        <li><a href="index-4.html">Home version 04</a></li>
                      </ul> -->
                    </li>
                    <li class="static">
                      <a
                        [routerLink]="[
                          '/jonadaveselightgiftservices/about-us'
                        ]"
                        >About Us</a
                      >
                    </li>
                    <!-- <li>
                      <a href="#services"
                        >Services
                        <i class="fa fa-angle-down"></i
                      >
                      </a>
                      <ul class="dropdown">
                        <li><a href="#">Service 01</a></li>
                        <li><a href="#">Service 02</a></li>
                        <li><a href="#">Service 03</a></li>
                        <li><a href="#">Service 04</a></li>
                      </ul>
                    </li> -->
                    <li>
                      <a
                        [href]="['/jonadaveselightgiftservices/testimonials']"
                        >Testimonials</a
                      >
                    </li>

                    <li>
                      <a
                        [routerLink]="[
                          '/jonadaveselightgiftservices/contact-us'
                        ]"
                        >Contact us</a
                      >
                    </li>
                    <li>
                      <a
                        >Categories
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown">
                        <li (click)="gotoSpeficCategory('ALL')">
                          <a>All</a>
                        </li>
                        <li
                          (click)="gotoSpeficCategory(category.key)"
                          *ngFor="
                            let category of storeData.sub_categories
                              | keyvalue: indexOrderAsc;
                            let i = index
                          "
                        >
                          <a>{{ category.value.name }}</a>
                        </li>
                      </ul>
                    </li>
                    <!-- <li class="static">
                      <a href="#">pages <i class="fa fa-angle-down"></i></a>
                      <ul class="megamenu dropdown">
                        <li class="mega-title">
                          <a href="#">column 01</a>
                          <ul>
                            <li>
                              <a href="shop.html">shop grid left sidebar</a>
                            </li>
                            <li>
                              <a href="shop-grid-right-sidebar.html"
                                >shop grid right sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-list-left-sidebar.html"
                                >shop list left sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-list-right-sidebar.html"
                                >shop list right sidebar</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li class="mega-title">
                          <a href="#">column 02</a>
                          <ul>
                            <li>
                              <a href="product-details.html"
                                >product details</a
                              >
                            </li>
                            <li>
                              <a href="product-details-affiliate.html"
                                >product details affiliate</a
                              >
                            </li>
                            <li>
                              <a href="product-details-variable.html"
                                >product details variable</a
                              >
                            </li>
                            <li>
                              <a href="product-details-group.html"
                                >product details group</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li class="mega-title">
                          <a href="#">column 03</a>
                          <ul>
                            <li><a href="cart.html">cart</a></li>
                            <li><a href="checkout.html">checkout</a></li>
                            <li><a href="compare.html">compare</a></li>
                            <li><a href="wishlist.html">wishlist</a></li>
                          </ul>
                        </li>
                        <li class="mega-title">
                          <a href="#">column 04</a>
                          <ul>
                            <li><a href="my-account.html">my-account</a></li>
                            <li>
                              <a href="login-register.html">login-register</a>
                            </li>
                            <li><a href="contact-us.html">contact us</a></li>
                          </ul>
                        </li>
                        <li class="megamenu-banners d-none d-lg-block">
                          <a href="product-details.html">
                            <img
                              src="assets/img/banner/img-bottom-menu.jpg"
                              alt=""
                            />
                          </a>
                        </li>
                      </ul>
                    </li> -->
                    <!-- <li>
                      <a href="shop.html"
                        >shop <i class="fa fa-angle-down"></i
                      ></a>
                      <ul class="dropdown">
                        <li>
                          <a href="#"
                            >shop grid layout <i class="fa fa-angle-right"></i
                          ></a>
                          <ul class="dropdown">
                            <li>
                              <a href="shop.html">shop grid left sidebar</a>
                            </li>
                            <li>
                              <a href="shop-grid-right-sidebar.html"
                                >shop grid right sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-grid-full-3-col.html"
                                >shop grid full 3 col</a
                              >
                            </li>
                            <li>
                              <a href="shop-grid-full-4-col.html"
                                >shop grid full 4 col</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#"
                            >shop list layout <i class="fa fa-angle-right"></i
                          ></a>
                          <ul class="dropdown">
                            <li>
                              <a href="shop-list-left-sidebar.html"
                                >shop list left sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-list-right-sidebar.html"
                                >shop list right sidebar</a
                              >
                            </li>
                            <li>
                              <a href="shop-list-full-width.html"
                                >shop list full width</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#"
                            >products details <i class="fa fa-angle-right"></i
                          ></a>
                          <ul class="dropdown">
                            <li>
                              <a href="product-details.html"
                                >product details</a
                              >
                            </li>
                            <li>
                              <a href="product-details-affiliate.html"
                                >product details affiliate</a
                              >
                            </li>
                            <li>
                              <a href="product-details-variable.html"
                                >product details variable</a
                              >
                            </li>
                            <li>
                              <a href="product-details-group.html"
                                >product details group</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li> -->
                    <!-- <li>
                      <a href="blog-left-sidebar.html"
                        >Blog <i class="fa fa-angle-down"></i
                      ></a>
                      <ul class="dropdown">
                        <li>
                          <a href="blog-left-sidebar.html"
                            >blog left sidebar</a
                          >
                        </li>
                        <li>
                          <a href="blog-right-sidebar.html"
                            >blog right sidebar</a
                          >
                        </li>
                        <li>
                          <a href="blog-grid-full-width.html"
                            >blog grid no sidebar</a
                          >
                        </li>
                        <li><a href="blog-details.html">blog details</a></li>
                        <li>
                          <a href="blog-details-left-sidebar.html"
                            >blog details left sidebar</a
                          >
                        </li>
                      </ul>
                    </li> -->
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- main menu area end -->

          <!-- mini cart area start -->
          <div class="col-lg-3">
            <div class="header-configure-wrapper">
              <div class="header-configure-area">
                <ul class="nav justify-content-end header-list">
                  <!-- <li>
                    <a href="#" class="offcanvas-btn">
                      <i class="lnr lnr-magnifier"></i>
                    </a>
                  </li>
                  <li class="user-hover">
                    <a href="#">
                      <i class="lnr lnr-user"></i>
                    </a>
                    <ul class="dropdown-list">
                      <li><a href="login-register.html">login</a></li>
                      <li><a href="login-register.html">register</a></li>
                      <li><a href="my-account.html">my account</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="wishlist.html">
                      <i class="lnr lnr-heart"></i>
                      <div class="notification">0</div>
                    </a>
                  </li> -->
                  <li>
                    <a
                      href="https://www.instagram.com/jonadevs_elite_gifts_services/"
                      target="_blank"
                      data-toggle="tooltip"
                      data-placement="left"
                      title="@jonadevs_elite_gifts_services"
                    >
                      <i class="fa fa-instagram"></i>
                      <!-- <span>@jonadevs_elite_gifts_services</span> -->
                      <!-- <div class="notification">0</div> -->
                    </a>
                  </li>
                  <li>
                    <a
                      href="mailto:jonadevselitegiftsservices@gmail.com?subject=Greetings&body=Hi%20goes%20here"
                      data-toggle="tooltip"
                      data-placement="left"
                      title="jonadevselitegiftsservices@gmail.com"
                    >
                      <i class="lnr lnr-envelope"></i>
                      <!-- <span>jonadevselitegiftsservices@gmail.com</span> -->
                      <!-- <div class="notification">0</div> -->
                    </a>
                  </li>
                  <li>
                    <a
                      href="tel:(+1) 876-312-8036"
                      data-toggle="tooltip"
                      data-placement="left"
                      title="(+1) 876-312-8036"
                    >
                      <i class="lnr lnr-phone-handset"></i>
                      <!-- <span>(+1) 876-312-8036</span> -->
                      <!-- <div class="notification">0</div> -->
                    </a>
                  </li>
                  <!-- <li>
                    <a
                      href="tel:(+1) 876-551-3718"
                      data-toggle="tooltip"
                      data-placement="left"
                      title="(+1) 876-551-3718"
                    >
                      <i class="lnr lnr-phone-handset"></i>
                    </a>
                  </li> -->
                  <!-- <li>
                    <a class="minicart-btn">
                      <i class="lnr lnr-cart"></i>
                      <div class="notification">
                        {{ cartProducts.length }}
                      </div>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <!-- mini cart area end -->
        </div>
      </div>
    </div>
    <!-- header middle area end -->
  </div>
  <!-- main header start -->

  <!-- mobile header start -->
  <div class="mobile-header d-lg-none d-md-block sticky">
    <!--mobile header top start -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="mobile-main-header">
            <div class="mobile-logo">
              <a href="/">
                <img src="assets/img/logo/logo.jpg" alt="Brand Logo" />
              </a>
            </div>
            <div class="mobile-menu-toggler">
              <!-- <div class="mini-cart-wrap">
                <a [routerLink]="['/cart/' + storeName]">
                  <i class="lnr lnr-cart"></i>
                  <div class="notification">
                    {{ cartProducts.length }}
                  </div>
                </a>
              </div> -->
              <div class="mobile-menu-btn">
                <div class="off-canvas-btn">
                  <i class="lnr lnr-menu"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile header top start -->
  </div>
  <!-- mobile header end -->
</header>
<!-- end Header Area -->

<!-- off-canvas menu start -->
<aside class="off-canvas-wrapper">
  <div class="off-canvas-overlay"></div>
  <div class="off-canvas-inner-content">
    <div class="btn-close-off-canvas">
      <i class="lnr lnr-cross"></i>
    </div>

    <div class="off-canvas-inner">
      <!-- search box start -->
      <div class="search-box-offcanvas">
        <form>
          <input type="text" placeholder="Search Here..." />
          <button class="search-btn">
            <i class="lnr lnr-magnifier"></i>
          </button>
        </form>
      </div>
      <!-- search box end -->

      <!-- mobile menu start -->
      <div class="mobile-navigation">
        <nav>
          <ul class="mobile-menu">
            <li>
              <a [href]="['/']">Home</a>
              <!-- <ul class="dropdown">
                <li><a href="index.html">Home version 01</a></li>
                <li><a href="index-2.html">Home version 02</a></li>
                <li><a href="index-3.html">Home version 03</a></li>
                <li><a href="index-4.html">Home version 04</a></li>
              </ul> -->
            </li>
            <li>
              <a [routerLink]="['/jonadaveselightgiftservices/about-us']"
                >About Us</a
              >
            </li>
            <!-- <li>
              <a href="#services">Services</a>
              <ul class="dropdown">
                <li><a href="#">Service 01</a></li>
                <li><a href="#">Service 02</a></li>
                <li><a href="#">Service 03</a></li>
                <li><a href="#">Service 04</a></li>
              </ul>
            </li> -->
            <li>
              <a [href]="['/jonadaveselightgiftservices/testimonials']"
                >Testimonials</a
              >
            </li>
            <li>
              <a [routerLink]="['/jonadaveselightgiftservices/contact-us']"
                >Contact us</a
              >
            </li>
            <li class="menu-item-has-children">
              <a>Categories</a>
              <ul class="dropdown">
                <li (click)="gotoSpeficCategory('ALL')">
                  <a>All</a>
                </li>
                <li
                  (click)="gotoSpeficCategory(category.key)"
                  *ngFor="
                    let category of storeData.sub_categories
                      | keyvalue: indexOrderAsc;
                    let i = index
                  "
                >
                  <a>{{ category.value.name }}</a>
                </li>
              </ul>
            </li>
            <!-- <li class="menu-item-has-children">
              <a href="#">pages</a>
              <ul class="megamenu dropdown">
                <li class="mega-title menu-item-has-children">
                  <a href="#">column 01</a>
                  <ul class="dropdown">
                    <li><a href="shop.html">shop grid left sidebar</a></li>
                    <li>
                      <a href="shop-grid-right-sidebar.html"
                        >shop grid right sidebar</a
                      >
                    </li>
                    <li>
                      <a href="shop-list-left-sidebar.html"
                        >shop list left sidebar</a
                      >
                    </li>
                    <li>
                      <a href="shop-list-right-sidebar.html"
                        >shop list right sidebar</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="mega-title menu-item-has-children">
                  <a href="#">column 02</a>
                  <ul class="dropdown">
                    <li>
                      <a href="product-details.html">product details</a>
                    </li>
                    <li>
                      <a href="product-details-affiliate.html"
                        >product details affiliate</a
                      >
                    </li>
                    <li>
                      <a href="product-details-variable.html"
                        >product details variable</a
                      >
                    </li>
                    <li>
                      <a href="product-details-group.html"
                        >product details group</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="mega-title menu-item-has-children">
                  <a href="#">column 03</a>
                  <ul class="dropdown">
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="checkout.html">checkout</a></li>
                    <li><a href="compare.html">compare</a></li>
                    <li><a href="wishlist.html">wishlist</a></li>
                  </ul>
                </li>
                <li class="mega-title menu-item-has-children">
                  <a href="#">column 04</a>
                  <ul class="dropdown">
                    <li><a href="my-account.html">my-account</a></li>
                    <li><a href="login-register.html">login-register</a></li>
                    <li><a href="contact-us.html">contact us</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">shop</a>
              <ul class="dropdown">
                <li class="menu-item-has-children">
                  <a href="#">shop grid layout</a>
                  <ul class="dropdown">
                    <li><a href="shop.html">shop grid left sidebar</a></li>
                    <li>
                      <a href="shop-grid-right-sidebar.html"
                        >shop grid right sidebar</a
                      >
                    </li>
                    <li>
                      <a href="shop-grid-full-3-col.html"
                        >shop grid full 3 col</a
                      >
                    </li>
                    <li>
                      <a href="shop-grid-full-4-col.html"
                        >shop grid full 4 col</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">shop list layout</a>
                  <ul class="dropdown">
                    <li>
                      <a href="shop-list-left-sidebar.html"
                        >shop list left sidebar</a
                      >
                    </li>
                    <li>
                      <a href="shop-list-right-sidebar.html"
                        >shop list right sidebar</a
                      >
                    </li>
                    <li>
                      <a href="shop-list-full-width.html"
                        >shop list full width</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">products details</a>
                  <ul class="dropdown">
                    <li>
                      <a href="product-details.html">product details</a>
                    </li>
                    <li>
                      <a href="product-details-affiliate.html"
                        >product details affiliate</a
                      >
                    </li>
                    <li>
                      <a href="product-details-variable.html"
                        >product details variable</a
                      >
                    </li>
                    <li>
                      <a href="product-details-group.html"
                        >product details group</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Blog</a>
              <ul class="dropdown">
                <li>
                  <a href="blog-left-sidebar.html">blog left sidebar</a>
                </li>
                <li>
                  <a href="blog-right-sidebar.html">blog right sidebar</a>
                </li>
                <li>
                  <a href="blog-grid-full-width.html">blog grid no sidebar</a>
                </li>
                <li><a href="blog-details.html">blog details</a></li>
                <li>
                  <a href="blog-details-left-sidebar.html"
                    >blog details left sidebar</a
                  >
                </li>
              </ul>
            </li> -->
          </ul>
        </nav>
      </div>
      <!-- mobile menu end -->

      <!-- <div class="mobile-settings">
        <ul class="nav">
          <li>
            <div class="dropdown mobile-top-dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                id="currency"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Currency
                <i class="fa fa-angle-down"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="currency">
                <a class="dropdown-item" href="#">$ USD</a>
                <a class="dropdown-item" href="#">$ EURO</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown mobile-top-dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                id="myaccount"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Contact Details
                <i class="fa fa-angle-down"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="myaccount">
                <a class="dropdown-item" href="my-account.html">my account</a>
                <a class="dropdown-item" href="login-register.html"> login</a>
                <a class="dropdown-item" href="login-register.html"
                  >register</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div> -->

      <!-- offcanvas widget area start -->
      <div class="offcanvas-widget-area">
        <div class="off-canvas-contact-widget">
          <ul>
            <li>
              <i class="fa fa-mobile"></i>
              <a href="tel:(+1) 876-312-8036">(+1) 876-312-8036</a>
            </li>
            <li>
              <i class="fa fa-mobile"></i>
              <a href="tel:(+1) 876-551-3718">(+1) 876-551-3718</a>
            </li>
            <li
              style="display: flex; align-items: center; line-break: anywhere"
            >
              <i class="fa fa-envelope-o"></i>
              <a
                href="mailto:jonadevselitegiftsservices@gmail.com?subject=Greetings&body=Hi%20goes%20here"
                style="margin-left: 8px"
              >
                jonadevselitegiftsservices@gmail.com
                <!-- <span>jonadevselitegiftsservices@gmail.com</span> -->
                <!-- <div class="notification">0</div> -->
              </a>
            </li>
            <li
              style="display: flex; align-items: center; line-break: anywhere"
            >
              <i class="fa fa-instagram"></i>
              <a
                href="https://www.instagram.com/jonadevs_elite_gifts_services/"
                target="_blank"
              >
                @jonadevs_elite_gifts_services</a
              >
            </li>
          </ul>
        </div>
        <!-- <div class="off-canvas-social-widget"> -->

        <!-- <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-pinterest-p"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-youtube-play"></i></a> -->
        <!-- </div> -->
      </div>
      <!-- offcanvas widget area end -->
    </div>
  </div>
</aside>
<!-- off-canvas menu end -->


  <!-- breadcrumb area start -->
  <div class="breadcrumb-area common-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb-wrap">
            <nav aria-label="breadcrumb">
              <h1>Testimonials</h1>
              <ul class="breadcrumb">
                <li class="breadcrumb-item">
                  <a [routerLink]="['/']"
                    ><i class="fa fa-home" style="font-size: 30px"></i
                  ></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Testimonials
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb area end -->
  <main>
    <!-- Testimonials Section -->
    <section id="testimonials">
      <div class="testmonials">
        <h2 class="text-center font-weight-bold">What they say about us</h2>
        <!-- <h5 style="text-align: center">What they say about us</h5> -->
        <div class="container">
          <div class="veiw-box">
            <div id="testimonials-section">
              <div class="user">
                <img src="assets/img/testimonial/user1.jpg" alt="" />

                <p>
                  <i
                    class="fa fa-quote-left"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                  Thank you again. Your service is excellent. Going above and
                  beyond its rarely seen with businesses in Jamaica. Thanks for
                  making my mommy's Mother Day wonderful. I will definitely be
                  doing business again soon.

                  <i
                    class="fa fa-quote-right"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                </p>
                <!-- <h3>Title</h3> -->
              </div>

              <div class="user space">
                <img src="assets/img/testimonial/user2.jpg" alt="" />
                <p>
                  <i
                    class="fa fa-quote-left"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                  A big thanks to Jonadevs Elite Gift Services. Birthday girl
                  truly loves her gift. Your prompt, professional and efficient
                  services is highly appreciated. Awesome, A-Class service.<i
                    class="fa fa-quote-right"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                </p>
                <!-- <h3>Title</h3> -->
              </div>

              <div class="user" style="margin-right: 70px">
                <img src="assets/img/testimonial/user1.jpg" alt="" />
                <p>
                  <i
                    class="fa fa-quote-left"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i
                  >I really appreciate that you were able to accommodate my
                  request. I know it was last minute and you didn't even
                  hesitate. Much appreciated and customer service was
                  excellent.<i
                    class="fa fa-quote-right"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                </p>
                <!-- <h3>Title</h3> -->
              </div>
              <div class="user" style="margin-right: 70px">
                <img src="assets/img/testimonial/user1.jpg" alt="" />
                <p>
                  <i
                    class="fa fa-quote-left"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i
                  >If I've never said this before, I'll say it now. I love you
                  guys! You know exactly how to make your customers happy!<i
                    class="fa fa-quote-right"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                </p>
                <!-- <h3>Title</h3> -->
              </div>
              <div class="user" style="margin-right: 70px">
                <img src="assets/img/testimonial/user2.jpg" alt="" />
                <p>
                  <i
                    class="fa fa-quote-left"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i
                  >My grandmother cried when she got it. She was so surprised I
                  was able to do that from so far away. I can't tell u how happy
                  | am. Thank you sooo sooo much.<i
                    class="fa fa-quote-right"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                </p>
                <!-- <h3>Title</h3> -->
              </div>
              <div class="user" style="margin-right: 70px">
                <img src="assets/img/testimonial/user1.jpg" alt="" />
                <p>
                  <i
                    class="fa fa-quote-left"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i
                  >Bwoy words cant tell the joy. Keep doing good. This idea of
                  sharing with your clients is an excellent one. It is the
                  essence of customer satisfaction. Thank you.<i
                    class="fa fa-quote-right"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                </p>
                <!-- <h3>Title</h3> -->
              </div>
              <div class="user" style="margin-right: 70px">
                <img src="assets/img/testimonial/user2.jpg" alt="" />
                <p>
                  <i
                    class="fa fa-quote-left"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i
                  >Aww , Deveroy I appreciate this so much. Customer service is
                  top tier!!! I will definitely be purchasing more items from
                  you. Excellent job much blessings to you.<i
                    class="fa fa-quote-right"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                </p>
                <!-- <h3>Title</h3> -->
              </div>
              <div class="user">
                <img src="assets/img/testimonial/user1.jpg" alt="" />
                <p>
                  <i
                    class="fa fa-quote-left"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i
                  >Thank you... it looks fantastic, I really appreciate it...
                  Wow, it looks better than I imagined.<i
                    class="fa fa-quote-right"
                    aria-hidden="true"
                    style="font-size: 54px"
                  ></i>
                </p>
                <!-- <h3>Title</h3> -->
              </div>
            </div>

            <div class="controls">
              <span id="control1"></span>
              <span id="control2" class="active1"></span>
              <span id="control3"></span>
              <span id="control4"></span>
              <span id="control5"></span>
              <span id="control6"></span>
              <span id="control7"></span>
              <span id="control8"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- service policy start -->
  <section class="service-policy-area section-space">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-lg-3 col-md-6 col-sm-6"> -->
        <!-- start policy single item -->
        <!-- <div class="service-policy-item">
            <div class="icons">
              <img src="assets/img/icon/free_shipping.png" alt="" />
            </div>
            <div class="policy-terms">
              <h5>free shipping</h5>
              <p>Free shipping all order</p>
            </div>
          </div> -->
        <!-- end policy single item -->
        <!-- </div> -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <!-- start policy single item -->
          <div class="service-policy-item">
            <div class="icons">
              <img
                src="assets/img/icon/support247.png"
                style="width: 50px"
                alt=""
              />
            </div>
            <div class="policy-terms">
              <h5>SUPPORT 24/7</h5>
              <p>Support 24 hours a day</p>
            </div>
          </div>
          <!-- end policy single item -->
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-sm-6"> -->
        <!-- start policy single item -->
        <!-- <div class="service-policy-item">
            <div class="icons">
              <img src="assets/img/icon/money_back.png" alt="" />
            </div>
            <div class="policy-terms">
              <h5>Money Return</h5>
              <p>30 days for free return</p>
            </div>
          </div> -->
        <!-- end policy single item -->
        <!-- </div> -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-policy-item">
            <div class="icons">
              <img
                src="assets/img/icon/promotions.png"
                style="width: 50px"
                alt=""
              />
            </div>
            <div class="policy-terms">
              <h5>ORDER DISCOUNT</h5>
              <p>On every order over conditions apply</p>
            </div>
          </div>
        </div> -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <!-- start policy single item -->
          <div class="service-policy-item">
            <div class="icons">
              <img src="assets/img/icon/clock.png" style="width: 50px" alt="" />
            </div>
            <div class="policy-terms">
              <h5>Regular Hours</h5>
              <p>Monday to Saturday 9am to 9pm</p>
              <p>Sunday 11am to 3pm</p>
              <!-- <p>No additional charges in regular hours - 9am to 5pm,</p>
              <p>Additional charges apply between 6pm to 10pm - $2,000,</p>
              <p>Before 9am $1,500</p> -->
            </div>
          </div>
          <!-- end policy single item -->
        </div>
      </div>
    </div>
  </section>
  <!-- service policy end -->

  <!-- Start Footer Area Wrapper -->
  <footer class="footer-wrapper">
    <!-- footer widget area start -->
    <div class="footer-widget-area">
      <div class="container">
        <hr />
        <div class="footer-widget-inner">
          <div class="row mbn-30">
            <!-- footer widget item start -->
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="footer-widget-item mb-30">
                <div class="footer-widget-titl text-center">
                  <h5>Reach Us @</h5>
                </div>
                <div
                  class="
                    d-lg-flex d-sm-block
                    align-items-center
                    justify-content-around
                  "
                >
                  <ul class="footer-widget-body accout-widget">
                    <li class="address">
                      <em><i class="lnr lnr-map-marker"></i></em>
                      <a> Portmore St.Catherine </a>
                    </li>
                    <li class="email">
                      <em><i class="fa fa-instagram"></i> </em>
                      <a
                        href="https://www.instagram.com/jonadevs_elite_gifts_services/"
                        target="_blank"
                        >@jonadevs_elite_gifts_services</a
                      >
                    </li>
                  </ul>
                  <ul class="footer-widget-body accout-widget mt-sm-2">
                    <li class="email">
                      <em><i class="lnr lnr-envelope"></i></em>
                      <a
                        href="mailto:jonadevselitegiftsservices@gmail.com?subject=Greetings&body=Hi%20goes%20here"
                        >jonadevselitegiftsservices@gmail.com</a
                      >
                    </li>
                    <li class="phone">
                      <em><i class="lnr lnr-phone-handset"></i> </em>
                      <div class="d-flex flex-column">
                        <a href="tel:(+1) 876-312-8036">(+1) 876-312-8036</a>
                        <a class="mt-2" href="tel:(+1) 876-551-3718"
                          >(+1) 876-551-3718</a
                        >
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- <div class="payment-method">
                  <img src="assets/img/payment-pic.png" alt="payment method" />
                </div> -->
              </div>
            </div>
            <!-- footer widget item end -->

            <!-- footer widget item start -->
            <!-- <div class="col-lg-2 col-md-6 col-sm-4">
              <div class="footer-widget-item mb-30">
                <div class="footer-widget-title">
                  <h5>categories</h5>
                </div>
                <ul class="footer-widget-body">
                  <li><a href="#">Ecommerce</a></li>
                  <li><a href="#">shopify</a></li>
                  <li><a href="#">Prestashop</a></li>
                  <li><a href="#">Opencart</a></li>
                  <li><a href="#">Magento</a></li>
                </ul>
              </div>
            </div> -->
            <!-- footer widget item end -->

            <!-- footer widget item start -->
            <!-- <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="footer-widget-item mb-30">
                <div class="footer-widget-title">
                  <h5>information</h5>
                </div>
                <ul class="footer-widget-body">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Exchanges</a></li>
                  <li><a href="#">Shipping</a></li>
                </ul>
              </div>
            </div> -->
            <!-- footer widget item end -->

            <!-- footer widget item start -->
            <!-- <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6">
              <div class="footer-widget-item mb-30">
                <div class="footer-widget-title">
                  <h5>Quick Links</h5>
                </div>
                <ul class="footer-widget-body">
                  <li><a href="#">Store Location</a></li>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Orders Tracking</a></li>
                  <li><a href="#">Size Guide</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div> -->
            <!-- footer widget item end -->
          </div>
        </div>
      </div>
    </div>
    <!-- footer widget area end -->

    <!-- footer bottom area start -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 order-2 order-md-1">
            <div class="copyright-text">
              <p>Copyright ©All Right Reserved.</p>
            </div>
          </div>
          <!-- <div class="col-md-6 order-1 order-md-2">
            <div class="footer-social-link">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a
                href="https://www.instagram.com/jonadevs_elite_gifts_services/"
                target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- footer bottom area end -->
  </footer>
  <!-- End Footer Area Wrapper -->

  <!-- Quick view modal start -->
  <div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <!-- product details inner end -->
          <div class="product-details-inner">
            <div class="row">
              <div class="col-lg-5 col-md-5">
                <div class="product-large-slider">
                  <div class="pro-large-img">
                    <img
                      src="assets/img/product/product-details-img1.jpg"
                      alt="product-details"
                    />
                  </div>
                  <div class="pro-large-img">
                    <img
                      src="assets/img/product/product-details-img2.jpg"
                      alt="product-details"
                    />
                  </div>
                  <div class="pro-large-img">
                    <img
                      src="assets/img/product/product-details-img3.jpg"
                      alt="product-details"
                    />
                  </div>
                  <div class="pro-large-img">
                    <img
                      src="assets/img/product/product-details-img4.jpg"
                      alt="product-details"
                    />
                  </div>
                </div>
                <div class="pro-nav slick-row-10 slick-arrow-style">
                  <div class="pro-nav-thumb">
                    <img
                      src="assets/img/product/product-details-img1.jpg"
                      alt="product-details"
                    />
                  </div>
                  <div class="pro-nav-thumb">
                    <img
                      src="assets/img/product/product-details-img2.jpg"
                      alt="product-details"
                    />
                  </div>
                  <div class="pro-nav-thumb">
                    <img
                      src="assets/img/product/product-details-img3.jpg"
                      alt="product-details"
                    />
                  </div>
                  <div class="pro-nav-thumb">
                    <img
                      src="assets/img/product/product-details-img4.jpg"
                      alt="product-details"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-7">
                <div class="product-details-des quick-details">
                  <h3 class="product-name">Orchid flower white stick</h3>
                  <div class="ratings d-flex">
                    <span><i class="lnr lnr-star"></i></span>
                    <span><i class="lnr lnr-star"></i></span>
                    <span><i class="lnr lnr-star"></i></span>
                    <span><i class="lnr lnr-star"></i></span>
                    <span><i class="lnr lnr-star"></i></span>
                    <div class="pro-review">
                      <span>1 Reviews</span>
                    </div>
                  </div>
                  <div class="price-box">
                    <span class="price-regular">$70.00</span>
                    <span class="price-old"><del>$90.00</del></span>
                  </div>
                  <h5 class="offer-text">
                    <strong>Hurry up</strong>! offer ends in:
                  </h5>
                  <div
                    class="product-countdown"
                    data-countdown="2020/04/25"
                  ></div>
                  <div class="availability">
                    <i class="fa fa-check-circle"></i>
                    <span>200 in stock</span>
                  </div>
                  <p class="pro-desc">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat.
                  </p>
                  <div class="quantity-cart-box d-flex align-items-center">
                    <h5>qty:</h5>
                    <div class="quantity">
                      <div class="pro-qty"><input type="text" value="1" /></div>
                    </div>
                    <div class="action_link">
                      <a class="btn btn-cart2" href="#">Add to cart</a>
                    </div>
                  </div>
                  <div class="useful-links">
                    <a href="#" data-toggle="tooltip" title="Compare"
                      ><i class="lnr lnr-sync"></i>compare</a
                    >
                    <a href="#" data-toggle="tooltip" title="Wishlist"
                      ><i class="lnr lnr-heart"></i>wishlist</a
                    >
                  </div>
                  <div class="like-icon">
                    <a class="facebook" href="#"
                      ><i class="fa fa-facebook"></i>like</a
                    >
                    <a class="twitter" href="#"
                      ><i class="fa fa-twitter"></i>tweet</a
                    >
                    <a class="pinterest" href="#"
                      ><i class="fa fa-pinterest"></i>save</a
                    >
                    <a class="google" href="#"
                      ><i class="fa fa-google-plus"></i>share</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- product details inner end -->
        </div>
      </div>
    </div>
  </div>
  <!-- Quick view modal end -->

  <!-- offcanvas search form start -->
  <div class="offcanvas-search-wrapper">
    <div class="offcanvas-search-inner">
      <div class="offcanvas-close">
        <i class="lnr lnr-cross"></i>
      </div>
      <div class="container">
        <div class="offcanvas-search-box">
          <form class="d-flex bdr-bottom w-100">
            <input type="text" placeholder="Search entire storage here..." />
            <button class="search-btn">
              <i class="lnr lnr-magnifier"></i>search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- offcanvas search form end -->

  <!-- offcanvas mini cart start -->
  <div class="offcanvas-minicart-wrapper">
    <div class="minicart-inner">
      <div class="offcanvas-overlay"></div>
      <div class="minicart-inner-content">
        <div class="minicart-close">
          <i class="lnr lnr-cross"></i>
        </div>
        <div class="minicart-content-box">
          <div class="minicart-item-wrapper">
            <ul>
              <li
                class="minicart-item"
                *ngFor="let item of cartProducts; let i = index"
              >
                <div class="minicart-thumb">
                  <a href="#">
                    <img src="{{ item.images1 }}" alt="product" />
                  </a>
                </div>
                <div class="minicart-content">
                  <h3 class="product-name">
                    <a href="#"
                      >{{ item.name }}

                      <span *ngIf="item.has_options">
                        <span *ngIf="item.has_options.value"
                          >[ {{ item.has_options.value }} ]</span
                        >
                      </span>
                    </a>

                    <span class="list list-inset" *ngIf="item.has_extras">
                      <span class="">
                        <br />
                        <strong>{{ getExtraName(item) }} :</strong>

                        <!-- {{joinObj(item.has_extras,'value') }}  -->
                        <p
                          *ngFor="let extra of item.has_extras; let ex = index"
                          style="padding-top: 5px"
                        >
                          <button
                            (click)="removeExtraFromCart(item, ex)"
                            class="btn btn-outline-primary btn-sm"
                          >
                            {{ extra.value }}

                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10"
                              height="10"
                              fill="currentColor"
                              class="bi bi-trash"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                              />
                              <path
                                fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                              />
                            </svg>
                          </button>
                        </p>
                      </span>
                    </span>
                  </h3>
                  <p>
                    <span class="cart-quantity"
                      >{{ item.quantity }} <strong>&times;</strong></span
                    >
                    <span class="cart-price"
                      >{{
                        this.storeData.store.currency_symbol | currencySymbol
                      }}
                      {{ item.product_payable_price }}</span
                    >
                  </p>
                </div>
                <button class="minicart-remove" (click)="removeFromCart(item)">
                  <i class="lnr lnr-cross"></i>
                </button>
              </li>
            </ul>
          </div>

          <div class="minicart-pricing-box">
            <div class="container">
              <div class="row" *ngIf="cartProducts.length === 0">
                <div class="col-md-12">
                  <div class="text-center" style="margin-top: 170px">
                    <div>
                      <h1>Your Cart is Empty</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul *ngIf="cartProducts.length !== 0">
              <li>
                <span>Sub-Total</span>
                <span
                  ><strong
                    >{{
                      this.storeData.store.currency_symbol | currencySymbol
                    }}
                    {{ total.toFixed(2) }}</strong
                  ></span
                >
              </li>
              <li *ngIf="appliedCouponDetails">
                <span>Discount</span>
                <span
                  ><strong
                    >-
                    {{ this.storeData.store.currency_symbol | currencySymbol }}
                    {{
                      (
                        (total * appliedCouponDetails.discount_percentage) /
                        100
                      ).toFixed(2)
                    }}</strong
                  ></span
                >
              </li>
              <li
                *ngIf="
                  storeData.store.delivery_charges &&
                  (storeData.store.order_mode === 'delivery' ||
                    storeData.store.order_mode === 'all')
                "
              >
                <span>Delivery Charges</span>
                <span *ngIf="!chosedDeliveryOption"
                  ><strong
                    >{{
                      this.storeData.store.currency_symbol | currencySymbol
                    }}
                    {{
                      (this.storeData.store.delivery_charges
                        ? +this.storeData.store.delivery_charges
                        : 0
                      ).toFixed(2)
                    }}</strong
                  ></span
                >
                <span *ngIf="chosedDeliveryOption"
                  ><strong>
                    {{ this.storeData.store.currency_symbol | currencySymbol }}
                    {{ this.chosedDeliveryOption.price }}
                  </strong></span
                >
              </li>
              <li
                class="total"
                style="color: #fd532d; font-weight: 500"
                *ngIf="
                  storeData.store.order_mode !== 'delivery' &&
                  storeData.store.order_mode !== 'all'
                "
              >
                <span>Total</span>
                <span
                  ><strong
                    >{{
                      this.storeData.store.currency_symbol | currencySymbol
                    }}
                    {{
                      (
                        total -
                        (
                          (total * appliedCouponDetails.discount_percentage) /
                          100
                        ).toFixed(2) +
                        this.storeData.store.delivery_charges
                      ).toFixed(2)
                    }}</strong
                  ></span
                >
              </li>

              <li
                class="total"
                *ngIf="
                  storeData.store.order_mode === 'delivery' ||
                  storeData.store.order_mode === 'all'
                "
                style="color: #fd532d; font-weight: 500"
              >
                <span>Total</span>
                <span
                  ><strong
                    >{{
                      this.storeData.store.currency_symbol | currencySymbol
                    }}
                    {{
                      (
                        total +
                        (this.storeData.store.delivery_charges
                          ? this.storeData.store.delivery_charges
                          : 0) -
                        (appliedCouponDetails
                          ? (total * appliedCouponDetails.discount_percentage) /
                            100
                          : 0)
                      ).toFixed(2)
                    }}</strong
                  ></span
                >
              </li>

              <li
                class="total"
                style="color: #fd532d; font-weight: 500; display: none"
              >
                <span>Total</span>
                <span
                  ><strong>
                    {{ this.storeData.store.currency_symbol | currencySymbol }}
                    {{
                      (
                        total -
                        (appliedCouponDetails
                          ? (total * appliedCouponDetails.discount_percentage) /
                            100
                          : 0)
                      ).toFixed(2)
                    }}</strong
                  ></span
                >
              </li>
            </ul>
          </div>

          <div class="minicart-button" *ngIf="cartProducts.length !== 0">
            <!-- <a href="cart.html"
              ><i class="fa fa-shopping-cart"></i> view cart</a
            > -->
            <a [routerLink]="['/cart/' + storeName]"
              ><i class="fa fa-share"></i> checkout</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- offcanvas mini cart end -->

  <!-- Scroll to top start -->
  <div class="scroll-top" (click)="gotoTop()">
    <i class="fa fa-angle-up"></i>
  </div>
  <!-- Scroll to Top End -->
</ion-content>
