<!-- Top Banner Slider -->
<div id="top-slider" *ngIf="this.appSlides.length">
  <ion-slides pager="true" [options]="slideOpts" class="ion-padding-top">
    <ion-slide *ngFor="let slide of appSlides">
      <img src="{{slide}}"  alt="slide" />
    </ion-slide>
  </ion-slides>
</div>