/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// regular style toast
@import '~ngx-toastr/toastr';
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth !important;
}
.modal-wrapper.md.sc-ion-modal-md {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.owl-carousel .owl-item img {
  display: block;
  width: 60% !important;
  margin: auto !important;
}
.modal-backdrop.show {
  z-index: -1;
}
.modal-dialog {
  max-width: 100% !important;
}
span,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
img {
  object-fit: contain;
}
.row .col-xl-3.col-lg-3.col-md-4 .row {
  padding-top: 10px;
}
.container-fluid .row .col-xl-7.col-lg-7.col-md-8 {
  padding-top: 13px;
}
.row .col-xl-3.col-lg-3.col-md-4 .row {
  float: none;
}
.col-xl-3.col-lg-3.col-md-4 .row .card.text-center.col-xl-12.col-md-12 {
  padding-top: 17px;
  padding-bottom: 16px;
}
// .row .btn-group .btn.btn-secondary {
//   background-color: #d9b08c;
// }
// .row .btn-group .btn.btn-secondary.active {
//   background-color: #ffcb9a;
// }
.col-xl-3.col-lg-3.col-md-4 .row .btn-group {
  float: none;
  width: 100%;
  margin-left: 7px;
  margin-right: 7px;
}
.container-fluid .row .col-xl-2.col-lg-2 {
  background-color: #e4f1fe;
}
.card-header {
  background-color: #8693ae;
  border-top-left-radius: 9px;
  border-top-right-radius: 70px;
  color: #ffffff;
}
.row .col-xl-7.col-lg-7.col-md-8 .card.text-center.col-lg-12.col-md-12 {
  padding-top: 18px;
  padding-bottom: 18px;
}
.list-group {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.container-fluid {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  height: 100%;
}
.row .col-1 .btn.btn-sm {
  background-color: #ff0408;
  border-radius: 50%;
  color: #ffffff;
  width: 30px;
}
.card-body .row .col-md-6.col-6.col-xl-7.col-lg-7 {
  text-align: left;
}
.card-body .row {
  height: auto;
  border-bottom: thin solid #dcdcdc;
  /* line-height: 67px; */
}
.row .col-2 img {
  border-radius: 50%;
}
.card.text-center.col-xl-12.col-md-12 .card-body .row.counter {
  height: 54px;
  line-height: 27px;
}
// body {
// 	background-color: #e4f1fe;
// 	height: 100%;
// 	word-wrap: break-word;
// 	white-space: normal;
// }

// body {
//   position: static !important;
// }
.card.text-center.col-xl-12.col-md-12 .card-body .row {
  /* height: 30px; */
  /* line-height: 0px; */
  border-width: thin;
  border-style: none;
}

@media screen {
  .counter {
  }
}

@media handheld {
}

//inventory.css

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.top-titile {
  margin-bottom: 15px;
}

.top-titile span.text-white.small {
  padding: 3px 7px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}

.top-titile .row .col-2 img {
  /* margin-top: 20px; */
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: auto !important;
  height: 60px !important;
  /* max-width: 60px; */
}

body {
  /* padding-bottom: 100px; */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.top-titile .bg-success {
  background-color: #1f3a93;
}

ul.list-group .list-group-item {
  background-color: transparent;
  border: none;
  border-left: 3px transparent solid;
  padding: 0px;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

ul.list-group .list-group-item a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 5px 15px;
}

ul.list-group .list-group-item:hover a,
ul.list-group .list-group-item.active a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul.list-group .list-group-item.active {
  border-left: 3px rgb(255, 255, 255) solid;
}

.top-titile.card {
  border: none;
}

.container-fluid .card {
  /* padding: 0px; */
  padding-top: 0px !important;
  background-color: transparent;
  border: none;
}

.container-fluid .card .card-body {
  background-color: #fff;
  margin-bottom: 15px;
  border: thin solid #1f3a93 !important ;
}

.container-fluid .card .card-body .row {
  border-bottom: 0px;
}

.container-fluid .card .card-body img.product-img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px #8693ae solid;
}

.container-fluid .card .card-body .col-md-5 {
  font-size: 16px;
  font-weight: 600;
}

.container-fluid .card .card-body .col-md-5 span.small {
  font-size: 15px;
  font-weight: 500;
  margin-left: 25px;
}

.container-fluid .card .card-body button.btn,
.container-fluid .card .card-body button.btn:hover,
.container-fluid .card .card-body button.btn:active,
.container-fluid .card .card-body button.btn:focus {
  color: #1f3a93;
  background-color: transparent;
  outline: none !important;
  border: none !important;
  padding: 0px;
  font-size: 30px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// .btn-group {
//   padding: 0px 8px;
//   margin: 0px !important;
// }

#form1 .row {
  padding-top: 15px;
}

.btn-group .btn.btn-secondary,
.btn-group .btn.btn-secondary:hover,
.btn-group .btn.btn-secondary:active,
.btn-group .btn.btn-secondary:focus {
  color: white !important;
  border: none !important;
  outline: none !important;
  background: none !important;
  /* -webkit-border-radius: 0px !important;
	border-radius: 0px !important; */
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// .btn-group .btn.btn-secondary:hover,
// .btn-group .btn.btn-secondary:active,
// .btn-group .btn.btn-secondary:focus {
//   color: #bc1a8b !important;
// }

.btn-group .btn.btn-secondary.active,
.btn-group .btn.btn-secondary.active:hover,
.btn-group .btn.btn-secondary.active:active,
.btn-group .btn.btn-secondary.active:focus {
  border-radius: 0;
  border-bottom: 2px solid white !important;
}

.input-group-prepend {
  margin-right: 0px;
  display: block;
  width: 100%;
}

.input-group-prepend .input-group-text {
  background-color: transparent;
  border: none;
  padding: 0px !important;
  font-size: 13px !important;
  font-weight: 500;
  margin-bottom: 3px;
}

.input-group input.form-control {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px #aaa solid;
  padding-left: 0px;
  /* padding-right: 0px; */
  margin-bottom: 0px;
}

#form1 .order-container .row {
  margin-top: 0px;
}

.btn.confirm-button {
  border-radius: 20px;
  font-size: 14px;
  color: darkslategray;
  // border: 1px solid rgba(156, 156, 156, 0.336);
}

.btn.confirm-button:hover,
.btn.confirm-button:active,
.btn.confirm-button:focus {
  background-color: darkslategray;
  color: white;
  transform: scale(1.2);
  transition: all 0.2s;
}
.btn.confirm-button svg {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.whatsapp-medium {
  background-color: #6ab04c;
  color: #fff;
  /* background-color: royalblue;
	color: #fff; */
}

.SMS-channel {
  background-color: black;
  color: #fff;
}

.card-header.whiteHeader {
  background-color: #5333ed;
  color: #fff;
}

.cartInfoDiv {
  margin-top: 25px;
}

.cartInfoDiv table {
  width: 100%;
}

.singleCartItemArea {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.singleCartItemArea .itemImageArea {
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.singleCartItemArea .itemImageArea img {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.singleCartItemArea .itemNameArea p {
  font-size: 18px;
}
.itemPriceArea p {
  font-size: 18px !important;
}
.itemPriceArea p button {
  background: none;
  padding: 18px;
  font-size: 20px;
  outline: none;
}
.singleCartItemArea .itemPriceArea p span.text-success {
  font-size: 22px;
}

.singleCartItemArea.addItemArea {
  /* margin-bottom: 40px; */
  margin-top: 15px;
  margin-bottom: 15px;
  height: 450px;
}

// .addIProductsToCartDiv .singleCartItemArea.addItemArea:last-child {
//   /* margin-bottom: 0px; */
//   border-radius: 5px;
// }

.singleCartItemArea.addItemArea .itemImageArea {
  width: 60px;
}

.singleCartItemArea.addItemArea .itemImageArea img {
  height: 50px;
  width: 50px;
}

.singleCartItemArea.addItemArea .itemNameArea {
  width: calc(100% - 360px);
  text-align: left;
}

.singleCartItemArea.addItemArea .itemNameArea p {
  font-size: 16px;
}

.singleCartItemArea.addItemArea .itemNameArea p.itemDescription {
  font-size: 10px;
  color: #777;
}

.singleCartItemArea.addItemArea .itemPriceArea {
  width: 100%;
}
.iti {
  width: 100%;
}

// .inputGroupQtyPlusMinus .input-group-btn button {
//   font-size: 24px;
//   color: #1f3a93;
//   max-width: 36px;
//   width: 36px;
//   height: 42px;
//   text-align: center;
//   padding: 0px 12px;
//   outline: none !important;
//   background-color: #fff;
//   border: none;
// }
.input-group.inputGroupQtyPlusMinus button {
  padding: 10px;
  background: none;
  outline: none !important;
  font-size: 20px;
  color: darkslategray;
}
.input-group.inputGroupQtyPlusMinus button:active {
  transform: scale(3);
  transition: all 0.5s;
}
.input-group.inputGroupQtyPlusMinus:hover {
  transition: all 0.2s;
}
.inputGroupQtyPlusMinus .input-group-btn button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// .inputGroupQtyPlusMinus .input-group-btn button.minusQtyBtn {
//   -webkit-border-radius: 3px 0px 0px 3px;
//   border-radius: 3px 0px 0px 3px;
// }

.inputGroupQtyPlusMinus .input-group-btn button.addMoreQtyBtn {
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}

.inputGroupQtyPlusMinus .form-control {
  /* display: inline-block; */
  /* width: calc(100% - 73px); */
  -webkit-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  border: none;
  border-bottom: none !important;
  background-color: #fff;
  border-left: 0px;
  border-right: 0px;
  height: 42px;
}

.cartInfoDiv p.text-info {
  background-color: #5333ed !important;
  color: #f8f9fa !important;
  margin: 15px 0px 0px !important;
  padding: 7px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.noItemsCart {
  background-color: #5333ed !important;
  color: #f8f9fa !important;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px !important;
  padding: 7px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

section.footerSection {
  position: relative;
  width: 100%;
  display: block;
}

.searchBoxContainer {
  margin-bottom: 25px;
}

.searchBoxContainer .input-group {
  width: calc(100% - 30px);
  max-width: calc(100% - 30px);
  margin: 0px auto;
}

.searchBoxContainer .input-group svg {
  height: 18px;
  width: auto;
}

.searchBoxContainer .input-group input.form-control {
  padding-left: 12px;
  border: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

.searchBoxContainer .input-group input.form-control:hover,
.searchBoxContainer .input-group input.form-control:active,
.searchBoxContainer .input-group input.form-control:focus {
  border: 1px solid #0f8c7e !important;
}

.searchBoxContainer .input-group-append,
.searchBoxContainer .input-group-prepend {
  display: -ms-flexbox;
  display: flex;
  margin-right: -1px;
  width: auto;
}

.searchBoxContainer .input-group-prepend span.input-group-text {
  padding: 0.375rem 0.75rem !important;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #8693ae;
  border: 1px solid #8693ae;
  border-radius: 0.25rem;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.validationFailed input,
input.validationFailed {
  border-bottom: 2px #ff0000 solid !important;
}

.container-fluid {
  min-height: calc(100vh - 250px);
}

.card {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.cartItemsCountBubble {
  display: none;
  background-color: crimson;
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 59px;
  right: 30px;
  z-index: 1100;
  height: 24px;
  width: 24px;
  -webkit-border-radius: 5%;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  padding-top: 6px;
  line-height: 1;
  color: #fff;
  transition: all 0.2s;
}

@-webkit-keyframes itemAdd {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 0;
    top: 10px;
  }
}

@keyframes itemAdd {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 0;
    top: 10px;
  }
}

.scrollToCartFloatingButtonArea {
  display: none;
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 15px;
  right: 30px;
  height: 60px;
  width: 60px;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  z-index: 900;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}

.scrollToCartFloatingButtonArea i {
  font-size: 28px;
  margin-top: 15px;
  margin-left: -2px;
  line-height: 1;
  color: #fff;
}

.scrollToCartFloatingButtonArea svg {
  height: 28px;
  margin-top: 15px;
  margin-left: -2px;
  line-height: 1;
}

.scrollToCartFloatingButtonArea svg path {
  fill: #fff;
}

.scrollToCartFloatingButtonArea .ball {
  content: '';
  height: 10px;
  width: 10px;
  background-color: darkslategray;
  top: -10px;
  left: 22px;
  z-index: 101;
  position: absolute;
  opacity: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.scrollToCartFloatingButtonArea .shake {
  -webkit-animation: cartShake 0.6s;
  animation: cartShake 0.6s;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.scrollToCartFloatingButtonArea .animate {
  -webkit-animation: itemAdd 1.2s;
  animation: itemAdd 1.2s;
}

.scrollToCartFloatingButtonArea .animate-out {
  -webkit-animation: itemAdd 1.2s;
  animation: itemAdd 1.2s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.goToTopFloatingButtonArea {
  /* display: none; */
  margin: 8px;
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  bottom: 10px;
  right: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 19;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  color: darkorchid;
  padding: 10px;
}
.goToTopFloatingButtonArea:hover {
  background-color: darkorchid;
  color: white;
}
.searchbar-input {
  border-radius: 5px !important;
  height: 50px !important;
  box-shadow: none !important;
  color: #000 !important;
  background: white !important;
}
.goToTopFloatingButtonAreai {
  font-size: 28px;
  margin-top: 15px;
  margin-left: -2px;
  line-height: 1;
  color: #fff;
}

.goToTopFloatingButtonAreasvg {
  height: 40px;
  margin-top: 15px;
  margin-left: -2px;
  line-height: 1;
}

.goToTopFloatingButtonAreasvg path {
  fill: #fff;
}

.goToTopFloatingButtonArea.ball {
  content: '';
  padding: 15px;
  margin: 15px;
  height: 30px;
  width: 30px;
  background-color: #5333ed;
  top: -10px;
  left: 22px;
  z-index: 101;
  position: absolute;
  opacity: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.goToTopFloatingButtonArea.shake {
  -webkit-animation: cartShake 0.6s;
  animation: cartShake 0.6s;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.goToTopFloatingButtonArea.animate {
  -webkit-animation: itemAdd 1.2s;
  animation: itemAdd 1.2s;
}

.goToTopFloatingButtonArea.animate-out {
  -webkit-animation: itemAdd 1.2s;
  animation: itemAdd 1.2s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes cartShake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes cartShake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#notification.notification {
  z-index: 1006 !important;
}

ul.list-group::scrollbar:horizontal {
  display: none;
  height: 0px;
  width: 0px;
}

ul.list-group::-webkit-scrollbar-track,
ul.list-group::-webkit-scrollbar-thumb,
ul.list-group::-webkit-scrollbar-track:horizontal,
ul.list-group::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: none;
  height: 0px;
  width: 0px;
}

a .row .btn-group {
  /* margin-top: 40px !important; */
}

.order-container {
  padding-top: 5px !important;
}

.noOfItemsInCartWithBg {
  background-color: #fce7bb;
  color: #000;
  font-size: 13px;
  height: 23px;
  padding: 5px 7px 0px;
  line-height: 1;
  width: auto;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
}

@media only screen and (min-width: 768px) {
  .cart-footer {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .scrollToCartFloatingButtonArea {
    position: fixed;
    right: 0;
    top: 150px;
  }
  .cartItemsCountBubble {
    top: 194px;
  }
}

@media only screen and (min-width: 992px) {
  .container-fluid .list-group {
    /* position: fixed;  */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* overflow-y: auto; */
    /* height: 600px; */
  }
}

/* @media only screen and (max-width: 991px){ */
ul.list-group {
  white-space: nowrap;
  overflow: auto;
}
ul.list-group.fixedOnTop {
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  margin: 0px;
  /* z-index: 1000; */
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}
ul.list-group .list-group-item {
  display: inline-block !important;
  width: auto !important;
  border-left: none !important;
  border-bottom: 2px transparent solid;
}
ul.list-group .list-group-item:hover {
  border-left: none !important;
}
ul.list-group .list-group-item.active {
  border-left: none;
  border-bottom: 3px rgb(255, 255, 255) solid;
}
.order-container {
  padding-top: 0px !important;
}
.order-container a .card {
  padding-top: 60px !important;
}
/* } */

.scrollToCartFloatingButtonArea {
  display: block;
}
.cartItemsCountBubble {
  display: block;
}

@media only screen and (max-width: 600px) {
  .cart-footer {
    -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    display: none;
    background-color: #1f3a93;
  }
  .singleCartItemArea.addItemArea .itemNameArea {
    width: calc(100% - 70px);
  }
  .singleCartItemArea.addItemArea .itemPriceArea {
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 55px;
    margin-top: 5px;
    max-width: 260px;
  }
  .singleCartItemArea.addItemArea {
    /* border-bottom: 1px #eee solid; */
    margin-bottom: 15px;
    /* padding-bottom: 15px; */
    margin-top: 15px;
  }
  .addIProductsToCartDiv .singleCartItemArea.addItemArea:last-child {
    /* border-bottom: none;
		margin-bottom: 0px;
		padding-bottom: 0px; */
  }
  .top-titile .row .col-2 {
    width: 80px;
    max-width: 80px;
  }
  .top-titile .row .col-8 {
    width: calc(100% - 90px);
  }
  .top-titile .row .col-2 img {
    max-height: 40px !important;
    height: auto !important;
    margin-top: 10px;
  }
  .top-titile span.text-white.small {
    margin-bottom: 10px;
  }

  .goToTopFloatingButtonArea {
    right: 0;
  }
}
//inventory.css

// ion-modal {
//     .modal-wrapper {
//         position: absolute;
//         top: 0;
//         left: 0;
//         display: block;
//         width: 100% !important;
//         height: 100% !important;
//     }
// }

.fullscreen .modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0%;
  position: absolute;
  display: block;
}
