ion-modal.fullscreen {
  --width: 100% !important;
  --height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  --border-radius: 0;
}
.sc-ion-modal-md-h {
  --width: 100% !important;
  --height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  --border-radius: 0;
}

#cart {
  .item {
    ion-thumbnail {
      width: 140px;
      height: 90px;

      img {
        width: 140px;
        height: 90px;
        border-radius: 5px;
      }
    }

    ion-note {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  #empty {
    h4 {
      color: #888888;
      font-weight: bolder;
    }

    p {
      color: #888888;
    }
  }
}

ion-footer {
  ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }

  ion-button {
    --box-shadow: -1px 1px 17px -3px var(--ion-color-color1);
  }
}
.img-wrapper {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: round;
}
// .imgView {
//   position: absolute;
//   transform: translate(-50%, -50%);
//   top: 50%;
//   left: 50%;
//   background-color: rgba(0, 0, 0, 0.171);
//   width: 100%;
//   height: 100%;
// }
.modal {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.863); /* Black w/ opacity */
}
.modal-image {
  width: auto;
  height: -webkit-fill-available;
}
.modal-image {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  font-size: 20px;
  position: absolute;
  top: 22px;
  right: 22px;
  color: whitesmoke;
  opacity: 1 !important;
  text-shadow: none !important;
  cursor: pointer;
}
.modal-close {
  // position: absolute;
  // top: 15px;
  // right: 35px;
  // color: #f1f1f1;
  // font-size: 40px;
  // font-weight: bold;
  // transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.nextBtn {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  padding: 10px;
  color: whitesmoke;
}
.previousBtn {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 50px;
  padding: 10px;
  color: whitesmoke;
}
.nextBtn:hover,
.previousBtn:hover {
  color: white;
}
.helper-text {
  display: none;
}
img {
  object-fit: contain;
}
@media screen and (max-width: 567px) {
  .slide-modal {
    margin: auto;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
    z-index: 15;
  }
  .slide-modal-content {
    margin: 20px auto;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .column {
    width: 50%;
  }
  .modal-image {
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .modal {
    padding: 0;
  }
  .nextBtn {
    display: none;
    // right: 0;
    // font-size: 30px;
  }
  .previousBtn {
    display: none;
    // left: 0;
    // font-size: 30px;
  }
  .modal-close {
    display: none;
  }
  .column:hover {
    transform: translateY(0);
  }
  .card {
    margin: 0;
  }
  .helper-text {
    display: block;
    position: absolute;
    top: inherit;
    margin-top: 5px;
  }
}
