<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button
        color="color1"
        default-href=""
        (click)="dismiss()"
        text=""
        icon="close"
      >
      </ion-back-button>
    </ion-buttons>
    <!-- <ion-title class="ion-text-left">Product Gallery</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col
        sizeLg="4"
        sizeMd="4"
        sizeXs="6"
        *ngFor="let images of imageObject; let i = index"
      >
        <div
          class="img-wrapper"
          style="object-fit: contain"
          [style.background-image]="'url(' + images.image + ')'"
          (click)="openImg($event, images, i)"
        ></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="imgClicked" class="modal" #imgModal>
    <span class="close" (click)="close()"> X </span>
    <span *ngIf="previousBtn" class="previousBtn" (click)="previousImg()"
      ><i class="fa fa-chevron-left" aria-hidden="true"></i
    ></span>
    <!-- <span class="helper-text">Swipe Down or Up to Close Image</span> -->
    <img
      [src]="imgVal"
      class="modal-image"
      onerror="this.src='./assets/img/BrockenImg.png'"
      (swiperight)="previousImg()"
      (swipeleft)="nextImg()"
      (swipedown)="close()"
      (swipeup)="close()"
    />
    <span *ngIf="nextBtn" class="nextBtn" (click)="nextImg()"
      ><i class="fa fa-chevron-right" aria-hidden="true"></i
    ></span>
  </div>
  <!-- <section style="width: 100%">
    <span *ngIf="imageArrLength">
      <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
    </span> -->

  <!-- <span *ngIf="imageArrLength===1">
      <ion-slides pager="true" [options]="slideOpts1">
        <ion-slide *ngFor="let ai of additionalImagesArr | keyvalue">
          <img src="{{ai.value.image}}" alt="Product" style="width:100%;"
            onerror="this.onerror=null; this.src='./assets/images/no-image.png'" />
        </ion-slide>
      </ion-slides>
    </span> -->
  <!-- </section> -->
</ion-content>
